/* MENU CARDÁPIO */

.menu-container {
  background-color: var(--wm-gray-light-300);
  padding: 0.75rem 1rem;
}

.menu-tab {
  color: inherit;
  font-size: 1.125rem;
  font-weight: bold;
  position: relative;
  
  &.active {
    background-color: transparent;
    color: inherit;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 100%;
      border-bottom: 3px solid var(--wm-red-300);
      border-radius: 16px 16px 0 0px;
    }
  }

}

.search-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
}
/* === */