<div class="d-flex flex-column justify-content-between bg-5 h-100" [ngStyle]="{ height: '100%' }">
  <div mat-dialog-title class="d-flex align-items-center">
    <fa-icon [icon]="arrowLeft" size="lg" class="color-theme" role="button" (click)="backButton()"></fa-icon>
    <h5 class="mb-0 ms-2 mt-n1 text-capitalize">{{ translate.text().indentify_yourself }}</h5>
  </div>
  <mat-dialog-content class="flex-fill">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-2">
          <div class="mb-3">
            <label for="whatsapp" class="form-label text-capitalize">{{ translate.text().whatsapp_number }} <span class="text-red">*</span></label>
            <input
              type="tel"
              id="whatsapp"
              class="form-control"
              [mask]="translate.masks().cell"
              [(ngModel)]="customer.whatsapp"
              (ngModelChange)="$event.length < 11 && (customer.name = '')"
              (keypress)="getClientByWhatsapp($event)"
              (blur)="getClientByWhatsapp()"
              [placeholder]="translate.masks().cell"
            />
          </div>
          <div [ngClass]="showLoading ? 'disabled' : ''">
            <app-loading *ngIf="showLoading"></app-loading>
            <div class="mb-3">
              <label for="nome" class="form-label text-capitalize">{{ translate.text().name }} <span class="text-red">*</span></label>
              <input
                [disabled]="translate.language() === 'pt-BR' ? customer.whatsapp.length < 11 : customer.whatsapp.length < 8"
                type="text"
                id="nome"
                class="form-control"
                required
                [(ngModel)]="customer.name"
              />
            </div>
            <div
              class="mb-3"
              id="datepicker"
              *ngIf="data.clientData.options.pdv?.clientConfig?.birthDate || data.clientData.options.pdv?.clientConfig?.required"
            >
              <label for="nome" class="form-label text-capitalize"
                >{{ translate.text().date_of_birth }}
                <span class="text-red" *ngIf="data.clientData.options.pdv?.clientConfig?.required">*</span></label
              >
              <input
                class="form-control"
                [placeholder]="translate.text().date_usa"
                name="birthDate"
                [(ngModel)]="customer.birthday_date"
                readonly
                ngbDatepicker
                [firstDayOfWeek]="7"
                [minDate]="{ year: 1900, month: 1, day: 1 }"
                [maxDate]="{ year: 2017, month: 1, day: 1 }"
                [placement]="context.isMobile ? 'bottom' : 'top'"
                (click)="d.toggle()"
                #d="ngbDatepicker"
              />
            </div>
            <div class="mb-3">
              <p class="small text-capitalize">{{ translate.text().place_order_necessary_information }}!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="container">
      <div class="d-flex justify-content-end my-2">
        <button
          class="btn btn-success submit-button"
          id="myButton"
          (click)="saveCustomerId(data.customer?.id ? 'update' : 'create')"
          [disabled]="!data.customer.name && validateUserContact()"
        >
          {{ validateUserContact() || translate.text().advance }}
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
