<link rel="preconnect dns-prefetch" href="https://www.clarity.ms/s/0.7.24/clarity.js" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.google-analytics.com/analytics.js" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtag/js?id=G-Y7CC2ENLGF&l=dataLayer&cx=c" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.clarity.ms/tag/d8r2gc98kb?ref=gtm2" crossorigin>
<link rel="preconnect dns-prefetch" href="https://static.hotjar.com/c/hotjar-2916785.js?sv=7" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtag/destination?id=AW-649372379&l=dataLayer&cx=c" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtag/js?id=G-H9RHVLWNYJ&l=dataLayer&cx=c" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtag/js?id=AW-649372379&l=dataLayer&cx=c" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.google-analytics.com/analytics.js" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtag/js?id=G-M3C6JNFR3W&l=dataLayer&cx=c" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtag/js?id=UA-178792505-2&l=dataLayer&cx=c" crossorigin>
<link rel="preconnect dns-prefetch" href="https://connect.facebook.net/signals/config/513676703721378?v=2.9.150&r=stable&domain=whatsmenu.com.br&hme=8b8eb2472f555e54a8b57f2b720f9bd3b1bc6aed031525376dd772ba51107995&ex_m=63%2C107%2C95%2C99%2C54%2C3%2C89%2C62%2C14%2C87%2C80%2C45%2C47%2C153%2C156%2C167%2C163%2C164%2C166%2C26%2C90%2C46%2C69%2C165%2C148%2C151%2C160%2C161%2C168%2C116%2C13%2C44%2C172%2C171%2C118%2C16%2C30%2C33%2C1%2C37%2C58%2C59%2C60%2C64%2C84%2C15%2C12%2C86%2C83%2C82%2C96%2C98%2C32%2C97%2C27%2C23%2C149%2C152%2C125%2C25%2C9%2C10%2C11%2C5%2C6%2C22%2C19%2C20%2C50%2C55%2C57%2C67%2C91%2C24%2C68%2C8%2C7%2C72%2C42%2C18%2C93%2C92%2C17%2C74%2C79%2C41%2C40%2C78%2C34%2C36%2C77%2C49%2C75%2C29%2C38%2C66%2C0%2C85%2C4%2C81%2C73%2C76%2C2%2C31%2C56%2C35%2C94%2C39%2C71%2C61%2C100%2C53%2C52%2C28%2C88%2C51%2C48%2C43%2C70%2C65%2C21%2C101" crossorigin>
<link rel="preconnect dns-prefetch" href="https://connect.facebook.net/en_US/fbevents.js" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtm.js?id=GTM-NRQZW2K" crossorigin>
<link rel="preconnect dns-prefetch" href="https://unpkg.com/imask" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com/gtag/js?id=UA-178792505-1" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.googleadservices.com/pagead/conversion/649372379/?random=1711465881391&cv=11&fst=1711465881391&bg=ffffff&guid=ON&async=1&gtm=45be43p0z8853710161za201&gcd=13l3l3l3l1&dma=0&u_w=1920&u_h=1200&url=http%3A%2F%2Fjason.com%2Fnovaindex&label=GuAQCMPitrEDENvF0rUC&hn=www.googleadservices.com&frm=0&tiba=WhatsMenu&value=0&bttype=purchase&npa=0&pscdl=noapi&auid=1393493332.1708716313&fdr=QA&capi=1&rfmt=3&fmt=4" crossorigin>
<link rel="preconnect dns-prefetch" href="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/649372379/?random=1711465881729&cv=11&fst=1711465881729&bg=ffffff&guid=ON&async=1&gtm=45be43p0za200&gcd=13l3l3l3l1&dma=0&u_w=1920&u_h=1200&url=http%3A%2F%2Fjason.com%2Fnovaindex&hn=www.googleadservices.com&frm=0&tiba=WhatsMenu&npa=0&pscdl=noapi&auid=1393493332.1708716313&fdr=QA&data=event%3Dgtag.config&rfmt=3&fmt=4" crossorigin>
<link rel="preconnect dns-prefetch" href="/img/whatsmenuBlack.webp">
<link rel="preconnect dns-prefetch" href="/img/shadown.png">
<link rel="preconnect dns-prefetch" href="/img/barbanegra.mp4">
<link rel="preconnect dns-prefetch" href="/img/2.webp">
<link rel="preconnect dns-prefetch" href="/img/3.webp">
<link rel="preconnect dns-prefetch" href="/img/4.webp">
<link rel="preconnect dns-prefetch" href="/img/shadown.png">
<link rel="preconnect dns-prefetch" href="/img/sad.webp">
<link rel="preconnect dns-prefetch" href="/img/emo1.png">
<link rel="preconnect dns-prefetch" href="/img/emo4.png">
<link rel="preconnect dns-prefetch" href="/img/emo3.png">
<link rel="preconnect dns-prefetch" href="/img/emo2.png">
<link rel="preconnect dns-prefetch" href="/img/emo6.png">
<link rel="preconnect dns-prefetch" href="/img/emo5.png">
<link rel="preconnect dns-prefetch" href="/img/shadown.png">
<link rel="preconnect dns-prefetch" href="https://www.youtube.com/embed/_jYvhbJFylI?enablejsapi=0&autoplay=0&modestbranding=1&controls=0&showinfo=0&rel=0&hd=1&wmode=transparent&enablejsapi=0" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.youtube.com/embed/9AW58h2A4CQ?enablejsapi=0&autoplay=0&modestbranding=1&controls=0&showinfo=0&rel=0&hd=1&wmode=transparent&enablejsapi=0" crossorigin>
<link rel="preconnect dns-prefetch" href="/img/circle1.webp">
<link rel="preconnect dns-prefetch" href="/img/seta.svg">
<link rel="preconnect dns-prefetch" href="/img/circle2.webp">
<link rel="preconnect dns-prefetch" href="/img/seta2.svg">
<link rel="preconnect dns-prefetch" href="/img/circle3.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/cardapio.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/pdv.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/garcon.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/qrmesa.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/pixonline.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/pagonline.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/adic-de-pizza.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/controle-de-estoque.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/motoboy.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/rel-de-produtos.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/relclientes.webp">
<link rel="preconnect dns-prefetch" href="/img/recursos/print.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/chart.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/support.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/location.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/list.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/iphone.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/padlock.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/iphone.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/low-price.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/test.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/pizza.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/promotion.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/barcode.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/social-media.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/credit-card.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/tap.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/programming.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/password.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/open-sign.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/discounts.png">
<link rel="preconnect dns-prefetch" href="/img/recursos/http.png">
<link rel="preconnect dns-prefetch" href="/img/vitrine/acougue-expresso.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/adega-carioca.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/agua-na-boca.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/barbeque.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/cantinho-do-pastel.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/chickens-frango-frito.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/churros-churros.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/doces-e-delicias.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/emporio-da-esfiha.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/emporio.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/galeria-do-espeto.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/gas-agua-maua.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/hortifruti-maia.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/ice-cream.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/imperio-chines.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/la-pasta.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/lanchonete-paladar.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/marmita-bom-sabor.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/marmita-da-cidade.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/marmita-fitness.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/maxi-batatas.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/mundo-burguer.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/padaria-santa-monica.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/patinhas-petshop.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/pizzaria-fascina.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/ponto-das-variedades.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/saboreando.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/salgados-correia.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/santo-crepe.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/tokyo-japones.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/vegan.webp">
<link rel="preconnect dns-prefetch" href="/img/vitrine/viva-mexico.webp">
<link rel="preconnect dns-prefetch" href="https://www.youtube.com/embed/TOn26KWA7dY?enablejsapi=0&autoplay=0&modestbranding=1&controls=0&showinfo=0&rel=0&hd=1&wmode=transparent&enablejsapi=0" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.youtube.com/embed/CaMeAdnVDmU?enablejsapi=0&autoplay=0&modestbranding=1&controls=0&showinfo=0&rel=0&hd=1&wmode=transparent&enablejsapi=0" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.youtube.com/embed/01rr70pj3YQ?enablejsapi=0&autoplay=0&modestbranding=1&controls=0&showinfo=0&rel=0&hd=1&wmode=transparent&enablejsapi=0" crossorigin>
<link rel="preconnect dns-prefetch" href="https://www.youtube.com/embed/pVBQF9nwcmU?enablejsapi=0&autoplay=0&modestbranding=1&controls=0&showinfo=0&rel=0&hd=1&wmode=transparent&enablejsapi=0" crossorigin>
<link rel="preconnect dns-prefetch" href="/img/shadown.png">
<link rel="preconnect dns-prefetch" href="/img/say0.png">
<link rel="preconnect dns-prefetch" href="/img/say1.png">
<link rel="preconnect dns-prefetch" href="/img/say2.png">
<link rel="preconnect dns-prefetch" href="/img/say3.png">
<link rel="preconnect dns-prefetch" href="/img/say4.png">
<link rel="preconnect dns-prefetch" href="/img/say5.png">
<link rel="preconnect dns-prefetch" href="/img/say6.png">
<link rel="preconnect dns-prefetch" href="/img/say7.png">
<link rel="preconnect dns-prefetch" href="/img/beneficioMan.webp">
<link rel="preconnect dns-prefetch" href="/img/price.webp">
<link rel="preconnect dns-prefetch" href="/img/shadown.png">
<link rel="preconnect dns-prefetch" href="/img/7dias.png">
<link rel="preconnect dns-prefetch" href="/img/equipe.webp">
<link rel="preconnect dns-prefetch" href="/img/whtasicon1.png">
<link rel="preconnect dns-prefetch" href="/img/logo.png">
<link rel="preconnect dns-prefetch" href="/bootstrap/bootstrap.bundle.min.js">
<link rel="preconnect dns-prefetch" href="/bootstrap/swiper-bundle.min.js">
