{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 150,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "trailingComma": "none",
        "htmlWhitespaceSensitivity": "strict",
        "printWidth": 150
      }
    }
  ]
}
