<mat-dialog-content class="d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="../../../assets2/pedido-sucesso.png" class="img-fluid" alt="Pedido realizado com sucesso!">
                <h4 class="text-center">{{ translate.text().order_sucess }}</h4>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="bg-5">
    <div class="container py-1">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success form-control text-capitalize" (click)="close()" >{{ translate.text().send_confirmation_whatsapp }}</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>