<div mat-dialog-title class="d-flex align-items-center gap-3">
  <fa-icon [icon]="faArrowLeft" size="lg" class="color-theme" role="button" (click)="back()" />
  <h5 class="m-0 color-text text-capitalize">{{ translate.text().payment }} {{ getTitle() }}</h5>
</div>
<mat-dialog-content class="flex-grow-1" style="background-color: var(--bg-5) !important">
  <div class="p-3 h-100 d-flex flex-column">
    <app-loading *ngIf="loading" />

    <div
      *ngIf="!data.clientData.options.legacyPix && data.clientData.options.asaas && !paymentLayout && hasOnlineChoices()"
      class="container text-center"
    >
      <div class="row gx-0 mb-4">
        <div class="col">
          <a
            class="fw-bold text-decoration-none fs-14 text-uppercase"
            [style]="paymentType == 'online' ? 'color: #dc3545; border-bottom: solid 1px #dc3545' : 'color: #444'"
            (click)="handlePaymentTypeAlternate()"
            >{{ translate.text().pay_on_app }}</a
          >
        </div>
        <div class="col" *ngIf="offlineFormsPayment.length">
          <a
            class="fw-bold text-decoration-none fs-14 text-uppercase"
            [style]="paymentType == 'local' ? 'color: #dc3545; border-bottom: solid 1px #dc3545' : 'color: #444'"
            (click)="handlePaymentTypeAlternate()"
            >{{ translate.text().pay_on_shippingg }}</a
          >
        </div>
      </div>
    </div>

    <ng-container [ngSwitch]="paymentLayout">
      <ng-container *ngSwitchCase="'pix'">
        <ng-container *ngTemplateOutlet="pixChoiceTemplate" />
      </ng-container>
      <ng-container *ngSwitchCase="'card'">
        <ng-container *ngTemplateOutlet="cardChoiceTemplate" />
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngIf="paymentType === 'online' && data.clientData.options.asaas && hasOnlineChoices(); else offlinePaymentChoicesTemplate">
          <ng-container *ngTemplateOutlet="onlinePaymentChoicesTemplate" />
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</mat-dialog-content>

<mat-dialog-actions
  *ngIf="paymentLayout === null"
  style="border-top: unset !important; background-color: var(--bg-5) !important"
  class="justify-content-center"
>
  <button
    *ngIf="paymentType === 'local'"
    #submitCartButton
    [disabled]="submitButtonValidation().disable"
    class="btn btn-danger mt-auto p-3 w-100 fw-bold"
    (click)="createCart()"
  >
    {{ submitButtonValidation().buttonText }}
  </button>
  <!-- <button
    *ngIf="(!data.clientData.options.legacyPix && data.clientData.options.asaas) && !paymentLayout && hasOnlineChoices()"
    class="btn btn-primary text-center fw-semibold my-2"
    (click)="handlePaymentTypeAlternate()"
  >
    {{ paymentType === 'online' ? 'Pagar na entrega' : 'Pagamento Online' }}
  </button> -->
  <button
    *ngIf="disabledPaymentChecked && paymentType === 'online'"
    (click)="createCart()"
    type="submit"
    class="btn btn-danger mt-auto p-3 w-100 fw-bold"
  >
    {{ translate.text().finish_payment }}
  </button>
</mat-dialog-actions>

<!-- PAGAMENTO ONLINE-->
<ng-template #onlinePaymentChoicesTemplate>
  <div class="d-flex flex-column gap-2">
    <p class="fw-semibold text-black fs-5 text-capitalize">{{ translate.text().payment_online }}</p>
  </div>
  <div class="mt-4 d-flex flex-column gap-4">
    <div
      *ngIf="data.cartRequest.type !== 'T' && data.clientData.options.voucher[0].status && data.customer.vouchers.length"
      class="d-flex flex-column gap-3"
    >
      <div class="d-flex flex-column gap-2">
        <p class="fw-semibold text-black fs-6 text-capitalize">{{ translate.text().cashback }}</p>
      </div>
      <payment-button>
        <app-cashback [value]="cashbackValueAvaliable()" [(formsPayment)]="data.cartRequest.formsPayment" />
      </payment-button>
    </div>
    <div class="d-flex flex-column gap-3">
      <p class="text-black fw-semibold fs-6">Pix</p>
      <payment-button *ngIf="data.clientData.options.onlinePix" (click)="setOnlineFormPayment('pix', 'pix')">
        <img src="/assets/pix.svg" alt="Logo pix" style="width: 30px; aspect-ratio: 1/1" />
        <p class="fw-semibold fs-5">Pix</p>
        <fa-icon [icon]="faChevronRight" size="xs" transform="grow-10" class="text-black fw-bold ms-auto" />
      </payment-button>
      <payment-button *ngIf="!cards.length && data.clientData.options.onlineCard" (click)="setOnlineFormPayment('credit', 'card')">
        <img src="/assets/credit-cart.svg" alt="card icon" />
        <p class="fw-semibold fs-6 text-capitalize">{{ translate.text().credit_card }}</p>
        <fa-icon [icon]="faChevronRight" size="xs" transform="grow-10" class="text-black fw-bold ms-auto" />
      </payment-button>
    </div>
    <div *ngIf="cards.length && data.clientData.options.onlineCard">
      <p class="text-black fw-semibold fs-6 text-capitalize">{{ translate.text().my_cards }}</p>
      <hr />
      <button class="btn btn-link text-danger fw-semibold mb-3 text-capitalize" (click)="setOnlineFormPayment('credit', 'card')">
        {{ translate.text().add_new_card }}
      </button>
      <div class="d-flex flex-column gap-3">
        <ng-container *ngFor="let card of cards">
          <payment-button class="flex-grow-1" (click)="handleCheckCVV(card)">
            <img src="/assets/credit-cart.svg" alt="card-brand" width="42px" class="border-end border-2 pe-2" />
            <div>
              <p>{{ card.surname ? card.surname + ' •' : '' }} {{ card.type }}</p>
              <p class="text-black">
                Final: <span>{{ card.creditCardNumber }}</span>
              </p>
            </div>
            <fa-icon
              [icon]="faEllipsisVertical"
              size="lg"
              class="text-black ms-auto py-2 px-3"
              (click)="$event.stopPropagation(); handleCardOptions(card)"
            />
          </payment-button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<!-- PAGAMENTO NA ENTREGA -->
<ng-template #offlinePaymentChoicesTemplate>
  <div class="d-flex flex-column gap-2 mb-3">
    <p class="fw-semibold text-black fs-5 text-capitalize">{{ translate.text().pay_on_delivery }}</p>
    <!-- <p class="fw-semibold">Escolha a forma de pagamento abaixo</p> -->
  </div>
  <ul class="d-flex flex-column" [ngClass]="disabledPaymentDefault ? 'disabled' : ''">
    <ng-container *ngFor="let formPayment of offlineFormsPayment; first as first; last as last">
      <li *ngIf="formPayment.status" [ngClass]="!last ? 'border-bottom' : ''">
        <label class="d-flex gap-3 py-3">
          <p class="flex-grow-1 fw-semibold text-black">{{ translate.text()[formPayment.payment] }}</p>
          <span class="fw-semibold text-danger text-capitalize" style="font-size: 0.875rem">{{ addonDisplay(formPayment) }}</span>
          <input
            (click)="formPaymentSelected = formPayment; scroll(paymentStep2)"
            type="radio"
            name="formPayment"
            class="form-check-input"
            [defaultChecked]="first"
          />
        </label>
      </li>
    </ng-container>
  </ul>
  <hr />
  <app-cashback
    *ngIf="data.cartRequest.type !== 'T' && data.clientData.options.voucher[0].status && data.customer.vouchers.length"
    [value]="cashbackValueAvaliable()"
    class="my-2"
    [(formsPayment)]="data.cartRequest.formsPayment"
  />
  <div class="card mt-3 p-3 border-0 d-flex flex-column align-items-center">
    <p #paymentStep2 class="fw-bold text-black fs-5 mb-3 text-capitalize">{{ translate.text().payment_in }} {{ translate.text()[formPaymentSelected.payment] }}</p>
    <div [ngSwitch]="formPaymentSelected.payment" class="d-flex flex-column w-100 gap-3">
      <ng-container *ngSwitchCase="'money'">
        <div class="d-flex flex-column">
          <label class="form-label fw-semibold m-0 text-capitalize" style="font-size: 0.75rem" for="transhippment"
            >{{ translate.text().i_need_change_for }}:</label
          >
          <input
            class="form-control"
            placeholder="0.00"
            id="transhippment"
            [(ngModel)]="formPaymentSelected.change"
            [disabled]="transhippment_check.checked"
            mask="separator.2"
            separatorLimit="100000"
            inputmode="numeric"
            thousandSeparator="."
          />
        </div>
        <div class="d-flex align-items-center gap-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="transhippment-check"
            #transhippment_check
            (click)="changeIsHigher = transhippment_check.checked; transhippment_check.checked ? (formPaymentSelected.change = null) : ''"
          />
          <label class="form-check-label" for="transhippment-check" class="text-capitalize">{{ translate.text().i_dont_need_change }}</label>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'pix'">
        <div class="text-black">
          <p class="border-bottom py-3"><b>Pix:</b> {{ formPaymentSelected.key.value }}</p>
          <p class="border-bottom py-3">
            <b class="text-capitalize">{{ translate.text().total_to_transfer }}:</b> {{ formPaymentSelected.value | currency }}
            <!-- <b>Total a Transferir:</b> {{ data.cartRequest.total + addonCalcResult(formPaymentSelected.addon) | currency }} -->
          </p>
        </div>
        <p style="color: var(--wm-gray-550); font-size: 0.875rem text-capitalize">{{ translate.text().send_there_receipt }}.</p>

        <button
          class="btn mt-4 d-flex gap-2 align-items-center justify-content-center"
          (click)="copyToClipboard()"
          style="background-color: var(--wm-gray-100)"
        >
          <img src="/assets/pix.svg" alt="pix logo" style="width: 18px; aspect-ratio: 1/1" />
          <p class="fw-semibold text-capitalize">{{ translate.text().copy_key }}</p>
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="'picpay'">
        <div class="text-black">
          <p class="border-bottom py-3"><b>PicPay:</b> {{ formPaymentSelected.key.value }}</p>
          <p class="border-bottom py-3">
            <b>Total a Transferir:</b> {{ data.cartRequest.total + addonCalcResult(formPaymentSelected.addon) | currency }}
          </p>
        </div>
        <p style="color: var(--wm-gray-550); font-size: 0.875rem text-capitalize">{{ translate.text().send_there_receipt }}</p>

        <button
          class="btn mt-4 d-flex gap-2 align-items-center justify-content-center"
          (click)="copyToClipboard()"
          style="background-color: var(--wm-gray-100)"
        >
          <img src="/assets/picpay-icon.svg" alt="picpay logo" style="width: 18px; aspect-ratio: 1/1" />
          <p class="fw-semibold text-api text-capitalize">{{ translate.text().copy_key }}</p>
        </button>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div *ngIf="formPaymentSelected.flags?.length" class="d-flex flex-column">
          <label class="form-label fw-semibold m-0 text-capitalize" style="font-size: 0.75rem" for="transhippment"
            >{{ translate.text().select_the_flag }}:</label
          >
          <select class="form-select payment-flags text-capitalize" [(ngModel)]="formPaymentSelected.flag">
            <option value="" selected disabled>{{ translate.text().select }}</option>
            <ng-container *ngFor="let flag of formPaymentSelected.flags">
              <option [value]="flag.name">
                {{ flag.name }}
              </option>
            </ng-container>
          </select>
        </div>
      </ng-container>
      <div
        *ngIf="!data.clientData.options.hideSecretNumber && formPaymentSelected.payment !== 'picpay' && formPaymentSelected.payment !== 'pix'"
        [ngClass]="formPaymentSelected.payment === 'money' || formPaymentSelected.flags?.length ? 'border-top' : ''"
      >
        <label class="form-label fw-semibold m-0" for="secretNumber-input" style="font-size: 0.75rem"
          >{{ translate.text().cpf_on_the_receipt }}?</label
        >
        <input
          type="text"
          class="form-control"
          [placeholder]="translate.masks().secret_number"
          [mask]="translate.masks().ssn_mask"
          id="secretNumber-input"
          [(ngModel)]="data.cartRequest.secretNumber"
        />
      </div>
    </div>
  </div>

  <app-total-form-payment [(cartRequest)]="data.cartRequest" />
</ng-template>

<ng-template #pixChoiceTemplate>
  <div class="d-flex flex-column gap-4 flex-grow-1">
    <ng-container *ngIf="!pixInvoice.qrCode">
      <div class="d-flex flex-column align-items-center gap-3">
        <img src="/assets/pix.svg" alt="pix logo" style="width: 42px; aspect-ratio: 1/1" />
        <p class="fs-4 fw-semibold text-black">{{ translate.text().how_to_pay_with_pix }}!</p>
      </div>
      <!-- <ul class="text-black fw-semibold p-0 d-flex flex-column gap-2">
        <ng-container *ngFor="let step of pixSteps; let index = index">
          <li class="d-flex gap-3 align-items-center">
            <span class="fw-semibold text-nowrap text-black badge p-1 my-auto" style="background-color: var(--wm-blue-200)"
              >{{ index + 1 }}º Passo</span
            >
            <p class="fw-semibold flex-grow-1">{{ step }}</p>
          </li>
        </ng-container>
      </ul> -->

      <div class="my-auto">
        <label for="pix-cpf-input" class="mb-1 fw-semibold form-label">{{ translate.text().enter_cpf_generate_pix }}</label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          placeholder="000.000.000-00"
          id="pix-cpf-input"
          mask="000.000.000-00"
          [(ngModel)]="data.customer.secretNumber"
        />
        <p style="color: var(--wm-gray-550); font-size: 0.75rem">{{ translate.text().enter_a_valid_cpf }}</p>
      </div>
      <button class="btn btn-danger mt-auto p-3 w-100 fw-bold" [disabled]="data.customer.secretNumber.length < 11" (click)="createCart()">
        {{ translate.text().generate_pix_key }}
      </button>
    </ng-container>
    <ng-container *ngIf="pixInvoice.qrCode">
      <!-- <div class="alert alert-danger mb-2" role="alert">Pagamento ainda pendente. Por favor tente novamente.</div> -->

      <div class="d-flex align-items-center flex-column">
        <p class="fs-5 fw-semibold text-capitalize">{{ translate.text().order_pending_payment }}</p>
        <div *ngIf="!pixRegeneration">
          <!-- <p style="width: 140px; font-size: 12px" class="text-center text-black fw-semibold lh-1 mt-5">O tempo para pagamento acaba em:</p> -->
          <app-countdown [minutes]="5" [radius]="45" />
        </div>
        <img src="data:image/jpeg;base64, {{ pixInvoice.qrCode }}" alt="QR Code Pix" style="width: 125px; aspect-ratio: 1/1" />

        <label for="pixCopyPaste" class="form-label" style="color: var(--wm-gray-550)">{{ translate.text().pix_copy_paste }}</label>
        <div class="input-group mb-3">
          <input class="form-control" id="pixCopyPaste" [(ngModel)]="pixInvoice.copyPaste" readonly />
        </div>
        <button
          id="copy-paste"
          class="btn btn-primary text-capitalize"
          type="button"
          #t="ngbTooltip"
          triggers="manual"
          [ngbTooltip]="'Chave PIX copiada!'"
          (click)="copyToClipboardOnline()"
        >
          {{ translate.text().copy_code }}
          <fa-icon [icon]="faPaste" />
        </button>
      </div>
      <div *ngIf="pixRegeneration" class="h-100 d-flex flex-column justify-content-center align-items-center">
        <fa-icon [icon]="faRotate" role="button" (click)="generatePix({ regenerate: true })" size="4x" class="text-center"></fa-icon>
        <p class="text-center mt-4">{{ translate.text().pix_key_expired }}.</p>
      </div>
      <!-- <p *ngIf="!pixRegeneration" class="text-center text-black fw-semibold mx-5" style="font-size: 0.875rem">
        Caso a confirmação demorar muito, clique no botão abaixo
      </p> -->
      <p *ngIf="!pixRegeneration" class="text-center text-black fw-semibold mx-5" style="font-size: 0.875rem">
        {{ translate.text().paste_this_code_your_bank }}.
      </p>

      <button class="btn btn-danger mt-auto p-3 w-100 fw-bold" (click)="verifyPix()">{{ translate.text().verify_pix_payment }}</button>
    </ng-container>
  </div>
</ng-template>

<ng-template #cardChoiceTemplate>
  <div class="d-flex flex-column flex-grow-1 gap-2 text-capitalize">
    <div>
      <h3 id="credit">{{ translate.text().card_details }}</h3>
    </div>
    <div>
      <label class="form-label text-capitalize" for="holder_name">{{ translate.text().name_on_the_card }}</label>
      <!--  [(ngModel)]="billing.card.holder_name" (ngModelChange)="resetCardError()"  -->
      <input type="text" class="form-control" placeholder="Nome que está no cartão" [(ngModel)]="newCard.creditCard.holderName" />
    </div>
    <div>
      <label class="form-label text-capitalize" for="number">{{ translate.text().card_number }}</label>
      <div class="input-group mb-3">
        <span class="input-group-text ps-1" style="background-color: white; border-right: none" id="basic-addon1">
          <fa-icon [icon]="creditCardIcon(newCard.creditCard.number[0])" size="lg" class="text-center px-2" />
        </span>
        <input
          type="text"
          inputmode="numeric"
          style="border-left: none"
          class="form-control ps-1"
          name="number"
          id="number"
          placeholder="0000 0000 0000 0000"
          mask="0000 0000 0000 0000"
          [(ngModel)]="newCard.creditCard.number"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="exp">{{ translate.text().expiry }}</label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          name="exp"
          id="exp"
          mask="00/00"
          placeholder="MM/AA"
          [(ngModel)]="cardValidateDate"
          (ngModelChange)="splitValidateDate($event)"
        />
      </div>
      <div class="col-6">
        <label class="form-label" for="cvv">CVV</label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          name="cvv"
          id="cvv"
          mask="0000"
          placeholder="000"
          [(ngModel)]="newCard.creditCard.ccv"
        />
      </div>
    </div>
    <div>
      <label class="form-label" for="cpf">{{ translate.text().ssn }}</label>
      <input
        type="text"
        inputmode="numeric"
        class="form-control ps-1"
        [mask]="translate.masks().ssn_mask"
        name="cpf"
        id="cpf"
        placeholder="000.000.000-00"
        [(ngModel)]="newCard.creditCardHolderInfo.cpfCnpj"
      />
    </div>
    <div>
      <label class="form-label text-capitalize" for="surname">{{ translate.text().card_nickname }}</label>
      <input
        type="text"
        class="form-control ps-1"
        name="surname"
        id="surname"
        [placeholder]="translate.text().favorite_card_comment"
        [(ngModel)]="newCard.surname"
      />
    </div>
    <div class="mt-5 text-capitalize">
      <h3>{{ translate.text().billing_adress }}</h3>
    </div>
    <!-- <div class="my-3">
        <button class="btn btn-primary" (click)="handleSetSameCartAddress()">Usar endereço de entrega</button>
    </div> -->
    <div class="row">
      <div class="col-8">
        <div>
          <label class="form-label" for="postalCode">{{ translate.text().zip_code }}</label>
          <input
            type="text"
            class="form-control"
            name="postalCode"
            id="postalCode"
            mask="{{ translate.masks().zipcode }}"
            [(ngModel)]="newCard.creditCardHolderInfo.postalCode"
          />
        </div>
      </div>
      <div class="col-4">
        <label class="form-label" for="number">N°</label>
        <input type="number" class="form-control" name="number" id="number" [(ngModel)]="newCard.creditCardHolderInfo.addressNumber" />
      </div>
    </div>
    <div>
      <label class="form-label text-capitalize" for="addressComplement">{{ translate.text().adress_line_2 }}</label>
      <input class="form-control" name="addressComplement" id="addressComplement" [(ngModel)]="newCard.creditCardHolderInfo.addressComplement" />
    </div>
    <button #createCardButton class="btn btn-danger mt-auto p-3 w-100 fw-bold" (click)="createCardAndSubmitOrder()">
      {{ createCardSubmitButtonText() }}
    </button>
  </div>
</ng-template>
