:host {
  min-height: 80vh !important;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.form-label {
  color: var(--wm-blue-900)
}

@media (min-width: 768px) {
  mat-dialog-content { 
    min-height: inherit !important;
    & > div {
      min-height: inherit;
    }
  }
}