<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delivery em {{ upper(atualCity) }} - Cupons e ofertas com entrega rápida | WhatsMenu</title>
    <meta name="description" content="Listas de promoções e cupons dos melhores restaurantes em {{ upper(atualCity) }} com entrega rápida">
    <!-- CSS only -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/bootstrap/tabler-icons.min.css" />
    <link rel="stylesheet" href="/bootstrap/font-portal.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="/bootstrap/portal-style.css?v=1.1" rel="stylesheet">

    <link rel='preload' href='/bootstrap/font/proximanova-bold-webfont.woff2' as='font' type='font/woff2' crossorigin>
    <link rel='preload' href='/bootstrap/font/proximanova-regular-webfont.woff2' as='font' type='font/woff2' crossorigin>
    <link rel='preload' href='/bootstrap/font/proximanova-semibold-webfont.woff2' as='font' type='font/woff2' crossorigin>

    <style>
        /* WHATSAPP FIXO */
        .whatsapp-fixo {
            position: fixed;
            bottom:60px;
            right:10px;
            z-index: 999;
        }
    </style>
    {{--  Global site tag (gtag.js) - Google Analytics  --}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178792505-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-178792505-1');
      gtag('config', 'AW-649372379');
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NRQZW2K');</script>
    <!-- End Google Tag Manager -->

        <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '513676703721378');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=513676703721378&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->




</head>
<body class="bg-light">
    @!section('body')

    <!-- JavaScript Bundle with Popper -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/bootstrap/cuttr.min.js"></script>
    @!section('javascript')
</body>
</html>
