@layout('layout')
@section('pusher')
  <h1 style="padding: 40px 0" id="date"></h1>
@endsection
@section('js')
  <script>
    setInterval(() => {
      document.querySelector('#date').innerHTML = new Date().toString()
    }, 1000);
  </script>
@endsection
