<div mat-dialog-title class="d-flex align-items-center justify-content-between p-0 m-0">
  <h4 class="modal-header p-0 m-0 p-2 text-capitalize">{{ translate.text().last_orders }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<mat-dialog-content class="m-1">
  <Table class="w-100 table">
    <thead>
      <tr class="text-dark fs-5 text-capitalize">
        <th scope="col">{{ translate.text().date }}</th>
        <th scope="col">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="p-3 m-3">
      <tr  *ngFor="let request of customerReverse()" >
        <th>{{ request.created_at | date : translate.masks().date_mask }}</th>
        <th>{{ calculateTotal(request) | currency }}</th>
        <th class="d-flex justify-content-end pe-4">
          <span class="text-primary text-capitalize" style="cursor: pointer" (click)="openRequestStatus(request.code)">{{ translate.text().view_order }}</span>
        </th>
      </tr>
    </tbody>
  </Table>
</mat-dialog-content>
