h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  margin: 0;
  line-height: 100%;
}

a {
  text-decoration: none;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--wm-gray-light-300);
  background-color: white;
  border-radius: 6px;
  min-height: 2.5rem;
  max-height: 2.5rem;

  &:focus-within {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  transition: all 0.2s;

  input:not([type='radio']) {
    width: 100%;
  }

  input:not([type='radio']) {
    border-radius: 6px;
    border: 0;
    outline: 0;
    color: var(--bs-gray);
    box-shadow: none;
  }
}

// select {
//   min-height: 2.5rem;
//   max-height: 2.5rem;
// }

.form-select,
.input-group {
  width: auto !important;

  &.w-100 {
    width: 100% !important;
  }
}

.main {
  background-color: var(--wm-gray-900);
  display: flex;
  justify-content: center;

  .pdv-container {
    max-width: 790px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .pdv-header-contanier {
      display: flex;
      flex-direction: column;
      z-index: 3;
      max-width: 790px;
      width: 100%;
      background-color: var(--wm-white);

      .pdv-header {
        height: 3.75rem;
        color: var(--wm-white);
        background-color: var(--wm-green-500);
        font-size: 1.25rem;

        svg {
          font-size: 2rem;
        }
      }
    }

    .pdv-content {
      width: 100%;
      flex: 1;
      background-color: var(--wm-white);
    }

    .pdv-footer {
      position: fixed;
      bottom: 0;
      max-width: 790px;

      summary {
        height: 6.25rem;
      }
    }
  }
}

details {
  width: 100%;
  max-height: 6.25rem;
  background-color: var(--wm-gray-light-300);

  summary {
    display: flex;
    width: 100%;
    height: 100%;

    .toggle-footer {
      z-index: 10;
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translate(-50%);

      width: 2rem;
      height: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 1.25rem;
      border: 1px solid var(--wm-gray-light-300);
      border-radius: 50%;
      background-color: var(--wm-white);
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);

      transition: all 0.2s;
    }
  }

  &[open] {
    max-height: 70vh;
    transition: all 1s;

    summary .toggle-footer {
      transform: rotate(180deg) translate(50%);
      box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.16);
    }
  }
}

.card.ng-star-inserted {
  margin: 0 !important;
  background-color: var(--wm-white);
}

.tab {
  padding: 0.75rem 1rem;
  border-radius: 4px 4px 0 0;
  text-decoration: none;
  color: inherit;

  &.active {
    color: var(--wm-green-500);
    background-color: var(--wm-white);
  }
}

.client-address-option {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--wm-blue-100);
  padding: 1.5rem;
  min-height: 5rem;
  max-height: 5rem;
}

@media screen and (max-width: 600px) {
  .tab {
    font-size: 1rem;
  }
}
