.type-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 11rem;

  padding: 1.5rem;
  background-color: var(--wm-green-100);
  border: 2px solid var(--wm-green-400);
  border-radius: 34px;

  cursor: pointer;

  p {
    font-size: 1.25rem;
  }
}