<!DOCTYPE html>
<html class="no-js" lang="pt">
    <head>
        {{--  Standard Meta  --}}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="Content-Language" content="pt-br">

        <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/manifest.json">
        <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
        {{--  Site Properties  --}}
        <title>WhatsMenu</title>
        {{ style('/dist/semantic.min.css?v=2.8.7') }}
        <link rel="stylesheet" type="text/css" href="/dist/print.min.css?v=2.2" media="print" />
        {{--  {{ style('/dist/print.min.css?v=2.1') }}  --}}
        {{ style('/dist/style.css?v=5.0') }}
        <style>
          @media print {
            * {
              font-size: 30px;
            }
          }
        </style>

        {{--  Facebook Pixel Code  --}}
        <!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '513676703721378');
  // fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=513676703721378&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
        {{--  End Facebook Pixel Code  --}}
    </head>
    <body>
        @include('inner/includes/mobile_menu')
        <div class="pusher">
          <div id="container-geral">
            {{--  COLUNA MENU  --}}
              <div id="coluna-menu" class="hide-for-medium-only hide-for-small-only">
                @include('inner/includes/coluna_menu')
              </div>
            {{--  /FIM COLUNA MENU  --}}
            {{--  COLUNA CONTEÚDO  --}}
              <div id="coluna-conteudo">
                <div class="ui container" style="margin: 0 auto">
                  @!section('content')
                </div>
                    {{--  /FIM CONTEÚDO  --}}
              </div>
          </div>
          <div id="tarja"></div>
        </div>

        @include('inner/includes/modals')

        @if(request.url() === '/dashboard/request')
        <script>
          let profile = {};
          let user = {};
          let fees = [];
          let flexPlans = []
          let requests;
          let domains;
          let tables = [];
          const release = [];

          fetch('/dashboard/myProfile').then(async data => {
            profile = await data.json()
            release.push('profile')
          });

          fetch('/dashboard/user/getUser').then(async data => {
            user = await data.json()
            release.push('user')
          });

          fetch('/dashboard/fees').then(async data => {
            fees = await data.json()
            release.push('fees')
          });

          fetch('/dashboard/flexPlans').then(async data => {
            flexPlans = await data.json()
            release.push('flexPlans')
          });

          fetch('/dashboard/requests').then(async data => {
            requests = await data.json()
            release.push('requests')
          });

          fetch('/dashboard/domains').then(async data => {
            domains = await data.json()
            release.push('domains')
          });

          fetch('/dashboard/tables').then(async data => {
            tables = await data.json()
            release.push('tables')
          });

          // $.get('/dashboard/myProfile').then(data => profile = data);
          // $.get('/dashboard/user/getUser').then(data => user = data);
          // $.get('/dashboard/flexPlans').then(data => flexPlans = data);
          // $.get('/dashboard/requests').then(data => requests = data);
          // $.get('/dashboard/domains').then(data => domains = data);
          // $.get('/dashboard/tables').then(data => tables = data);
        </script>
        @endif

        <script>
        localStorage.csrf = '{{ csrfToken }}';
        localStorage.admUrl = '{{ AdmUrl() }}';
        localStorage.siteUrl = '{{ SiteUrl() }}';
        localStorage.profileName = '{{ profile.name }}';
        localStorage.printApp = {{ (auth.user.controls.print && auth.user.controls.print.app) ? true : false }};
        </script>

        <script src="/dist/jquery-3.6.0.min.js"></script>
        {{--  <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>  --}}
        {{ script('/dist/luxon.min.js') }}
        {{ script('/dist/qrcode.min.js') }}
        {{ script('/dist/jquery-ui.min.js?v=1.12.1') }}
        {{--  {{ script('/dist/Sortable.min.js') }}  --}}
        {{ script('/dist/sortablejs.min.js') }}
        {{ script('/dist/Chart.min.js') }}
        {{ script('/dist/print.min.js') }}
        {{ script('/dist/semantic.min.js?v=2.8.8') }}
        {{--  {{ script('/dist/jquery.mask.min.js?v=2') }}  --}}
        <script src="/dist/jquery.mask.min.js?v=2"></script>
        {{ script('/dist/script.js?v=2') }}

        {{--  WS Service  --}}
        {{ script('https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js') }}
        {{ script('https://unpkg.com/@adonisjs/websocket-client@1.0.9/dist/Ws.browser.js') }}

        {{--  React Lib  --}}
        @if(isProduction())

          <script src="/dist/react.production.min.js"></script>
          <script src="/dist/react-dom.production.min.js"></script>

        @else

          <script crossorigin src="/dist/react.development.js"></script>
          <script crossorigin src="/dist/react-dom.development.js"></script>

        @endif

        <script src="/dist/babel.min.js"></script>
        <script src="/js/wm-functions.js?v=4.2"></script>
        <script type="text/babel" src="/react/layout.jsx?v=1.2"></script>
        <script>

          let time = new Date().getTime();
          $(document.body).bind("mousemove keypress", function(e) {
              time = new Date().getTime();
          })

          function refresh() {
              if(new Date().getTime() - time >= 560000)
                  window.location.reload()
              else
                  setTimeout(refresh, 10000)
          }

          setTimeout(refresh, 10000)

          document.querySelectorAll('input[name="image"], input[name="logo"], input[name="background"], input[id="favicon"]').forEach(input => {
            input.addEventListener('change', () => {
              const supportedExtensions = ['jpeg', 'jpg', 'png', 'gif']

              const path = input.value.split('.')
              const extension = path[path.length - 1]

              let validFormat = false
              let buffer = new FileReader()

              buffer.readAsArrayBuffer(input.files[0])

              buffer.onloadend = (e) => {

                let arr = (new Uint8Array(e.target.result)).subarray(0, 4);
                let header = "";
                for(let i = 0; i < arr.length; i++) {
                  header += arr[i].toString(16);
                }

                switch (header) {
                  case '89504e47':
                    validFormat = true
                      // type = 'image/png';
                      break;
                  case '47494638':
                    validFormat = true
                      // type = 'image/gif';
                      break;
                  case 'ffd8ffe0':
                  case 'ffd8ffe1':
                  case 'ffd8ffe2':
                    validFormat = true
                      // type = 'image/jpeg';
                      break;
                }

                console.log(validFormat);
                if (supportedExtensions.includes(extension.toLowerCase()) && validFormat) {

                  input.parentElement.querySelector('img').src = e.target.result

                  if (input.files[0] instanceof Blob && buffer) {
                    buffer.readAsDataURL(input.files[0])
                  }

                } else {

                  input.value = ''
                  input.parentElement.querySelector('img').src = '/img/no-img.jpg'
                  WhatsMenu.alert('red', 'Arquivo Inválido', 'O sistema não aceita esse tipo de arquivo!')

                }

                buffer = null

              }

            })
          })

        </script>

        {{--  Start of Tawk.to Script  --}}
{{--
        <script type="text/javascript">
          var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
          const linkSupport = document.querySelectorAll('.linkSupport');

          (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/615b461425797d7a89024182/1fh68jgff';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
          })();

          Tawk_API.onLoad = () => {
            Tawk_API.setAttributes ({
              'name': '{{auth.user.name}}',
              'email': '{{auth.user.email}}',
              'slug': '{{profile.slug}}',
              'link': 'https://whatsmenu.com.br/{{profile.slug}}'
            }, function (erro) {});

            const pageStatus = Tawk_API.getStatus();

            if(pageStatus === 'online'){
                setDisplaySupport()
              }else if(pageStatus === 'away'){
                setDisplaySupport('none')
              }else{
                setDisplaySupport('none')
            }

          }


          Tawk_API.onStatusChange = function(status){
            if(status === 'online'){
              setDisplaySupport()
            }else if(status === 'away'){
              setDisplaySupport('none')
            }else{
              setDisplaySupport('none')
            }
          }

          linkSupport.forEach(link => link.onclick = () => Tawk_API.popup());

          function setDisplaySupport(dspl = '') {
            linkSupport.forEach(link => link.style.display = dspl)
          }
        </script>
--}}

        {{--  End of Tawk.to Script  --}}

        {{--  Global site tag (gtag.js) - Google Analytics  --}}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178792505-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-178792505-1');
        </script>

        {{--  Modal de segurança  --}}

        <script>

          // async function submit() {
          //     try {
          //     await $.ajax({
          //       method: 'GET',
          //       url: '/dashboard/report',
          //       data: {
          //         _csrf: localStorage.csrf,
          //         security_key: $('#security_key').val(),
          //       }
          //     })
          //     WhatsMenu.alert('green', 'Sucesso', 'Acesso liberado')
          //   } catch (error) {
          //     console.error(error)
          //     WhatsMenu.alert('red', 'Erro', 'Acesso Negado')
          //   }
          // }

          function limpaUrl() {     //função
            urlpg = $(location).attr('href');   //pega a url atual da página
            urllimpa = urlpg.split("?")[0]      //tira tudo o que estiver depois de '?'

            window.history.replaceState(null, null, urllimpa); //subtitui a url atual pela url limpa
          }



          $('.ui.modal.security_key')
            .modal('attach events', '.bot-password.item', 'show')
          ;
          $('.ui.modal.security_key')
            .modal('attach events', '.bot-password.item', 'show')
          ;
          $('.ui.modal.security_key')
            .modal('attach events', '.close-security-modal, hide')
          $('#security_key_form').click(submit)
        </script>

        @!section('js')

        <script>
          limpaUrl()
        </script>
    </body>
</html>
