$table-size: 7rem;

* {
  color: var(--wm-blue-900);
}

.default {
  background-color: var(--wm-gray-light-400);
  border: 2px solid var(--wm-gray-light-600);
}

.busy {
  background-color: var(--wm-blue-200);
  border: 2px solid var(--wm-blue-700);
}

.paused {
  background-color: var(--wm-red-100);
  border: 2px solid var(--wm-red-200);
}

.waiting {
  background-color: var(--wm-green-200);
  border: 2px solid var(--wm-green-900);
}

.default,
.busy,
.paused,
.waiting {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}

.tables-container {
  max-height: 83.1vh;
  overflow-y: auto;
  display: grid;
  gap: 0.85rem 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax($table-size, 1fr));
  width: 100%;
  justify-items: center;
  padding: 1rem 0.5rem;
}

.table-container {
  display: flex;
  padding: 0.25rem;
  min-height: $table-size;
  min-width: $table-size;
  border-radius: 25px;
  font-size: 1.125rem;
  font-weight: bold;
  word-break: break-word;
  text-align: center;

  p {
    margin: auto;
  }
}
