<h1>Recuperação de Senha Financeira</h1>
<p>Olá {{ user.name }}, esqueceu sua senha financeira? Sem problemas é só clicar <a href="https://next.whatsmenu.com.br/dashboard/settings/account?token={{user.controls.recovery.token}}">aqui</a></p>
