<div class="container">
    <section [ngStyle]="{'background-color': clientData && clientData.color, 'width': '100%', 'height': '100px', 'display': 'flex', 'justify-content': 'center', 'align-itens': 'center', 'margin-bottom': '60px'}" >
        <img src="{{ clientData && clientData.logo }}" alt="Logo image">
    </section>
    <strong [ngStyle]="{'margin-bottom': '60px'}">{{ clientData && clientData.name }}</strong>
    <div class="qrcode_container">
        <p>{{ translate.text().point_camera_qrcode }}.</p>
        <zxing-scanner (scanSuccess)="onCodeResult($event)" (scanError)="errorMessage()" ></zxing-scanner>
    </div>
    <div [ngStyle]="{'background-color': clientData && clientData.color, 'width': '100%', 'height': '100px', 'display': 'flex', 'justify-content': 'center', 'align-itens': 'center'}" ></div>

</div>
