<div class="ui editar-categoria small modal">
  <i class="close icon"></i>
  <div class="header">Editar categoria</div>
  <div class="scrolling content" id="editarCategoria1" style="max-height: 600px; overflow-y: auto"></div>
  <div class="actions" id="editarCategoria2"></div>
</div>
