<app-loading *ngIf="!context.profile"></app-loading>
<div *ngIf="context.profile" class="main">
  <div class="pdv-container">
    <div class="pdv-header-contanier">
      <div class="pdv-header d-flex justify-content-between px-3">
        <ul
          ngbNav
          #nav_pdv_content="ngbNav"
          [destroyOnHide]="false"
          [(activeId)]="activeTab"
          (click)="onNavChange()"
          (navChange)="localCarts($event)"
          class="nav-pills gap-2 align-self-end"
        >
          <li *ngIf="pageType === 'pdv' && checkPlans()" ngbNavItem="counter">
            <a ngbNavLink class="tab text-capitalize">{{ translate.text().counter }}</a>
            <ng-template ngbNavContent>
              <!-- <div style="margin-top: 4.5rem;"> -->
              <app-menu-nav
                *ngIf="context.profile"
                [cart]="cart"
                [cartPizza]="cartPizza"
                [allPizzas]="allPizzas"
                [allProducts]="allProducts"
                [valueType]="cartRequest.type"
                [tableMaxHeight]="context.isMobile ? calcDeviceHeight() : '62.5vh'"
              ></app-menu-nav>
              <!-- </div> -->
            </ng-template>
          </li>
          <li *ngIf="pageType === 'pdv' ? checkTablePlan() : true" ngbNavItem="tables">
            <a ngbNavLink class="tab position-relative text-capitalize"
              >{{ translate.text().table_s }}
              <span
                *ngIf="this.context.profile.options.queues?.bartender.length >= 1"
                class="position-absolute top-0 text-capitalize start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
              >
                <span class="visually-hidden">New alerts</span>
              </span>
            </a>
            <ng-template ngbNavContent>
              <app-tables (activeTab)="setActiveTab($event)" [pageType]="pageType"></app-tables>
            </ng-template>
          </li>
          <li
            [ngStyle]="{
              visibility: context.activeTableId ? 'visible' : 'hidden',
              width: context.activeTableId ? 'auto' : 0
            }"
            ngbNavItem="table"
          >
            <a ngbNavLink class="tab">Mesa {{ formatTableName(context.getActiveTable()?.name ?? '') }}</a>
            <ng-template ngbNavContent>
              <div class="d-flex gap-2 justify-content-center align-items-center mx-3 my-2">
                <div style="z-index: -9999; position: absolute; top: -99999px">
                  <pre id="print-table"></pre>
                </div>
                <ng-container>
                  <select
                    *ngIf="context.getActiveTable()?.opened"
                    class="form-select"
                    style="width: 50% !important"
                    [(ngModel)]="context.activeCommandId"
                  >
                    <ng-container *ngFor="let command of context.getActiveTable()?.opened?.commands">
                      <option *ngIf="command.status" [value]="command.id">
                        {{ command.name }}
                      </option>
                    </ng-container>
                  </select>
                  <button
                    type="button"
                    *ngIf="!context.getActiveTable()?.opened && (pageType === 'bartender' || context.isMobile)"
                    class="d-flex justify-content-center align-items-center btn btn-primary rounded-2 text-capitalize"
                    style="font-size: 1rem"
                    [disabled]="!this.context.getActiveTable()?.status"
                    (click)="openNewCommand()"
                  >
                    {{ translate.text().create_order_slip }}
                  </button>
                  <button
                    type="button"
                    *ngIf="context.getActiveTable()?.opened"
                    class="d-flex justify-content-center align-items-center btn btn-primary rounded-circle fw-bold"
                    style="width: 2rem; height: 2rem; font-size: 2.5rem"
                    (click)="openNewCommand()"
                  >
                    +
                  </button>
                </ng-container>
              </div>
              <div
                *ngIf="deviceWidth > 600"
                [ngClass]="pageType === 'pdv' ? 'my-3' : 'my-3'"
                class="d-flex align-items-center justify-content-between gap-3 mx-5"
              >
                <ng-container *ngIf="!context.getActiveTable()?.opened && pageType === 'pdv'">
                  <button
                    [disabled]="!context.getActiveTable()?.status"
                    type="button"
                    [ngClass]="pageType === 'pdv' ? 'ms-auto' : 'mx-auto mb-3'"
                    class="btn btn-primary text-capitalize"
                    (click)="openNewCommand()"
                  >
                    {{ translate.text().create_order_slip }}
                  </button>
                </ng-container>
                <ng-container *ngIf="pageType === 'pdv'">
                  <ng-container *ngIf="context.getActiveTable()?.opened">
                    <button type="button" class="btn btn-primary text-capitalize" (click)="openCommands()">{{ translate.text().order_slip_s }}</button>
                    <button type="button" class="btn btn-primary text-capitalize" (click)="openSwitchTable()">{{ translate.text().change_tables }}</button>
                    <button type="button" class="btn btn-primary text-capitalize" (click)="printTable()">{{ translate.text().print_table }}</button>
                    <button type="button" class="btn btn-primary text-capitalize" (click)="openPayment({ tableType: 'table' })">{{ translate.text().close_table }}</button>
                  </ng-container>
                  <button type="button" class="btn btn-primary me-auto text-capitalize" (click)="tablesStatus()">
                    {{ this.context.getActiveTable()?.status ? translate.text().pause_comment : translate.text().unpause_comment }} {{ translate.text().table }}
                  </button>
                </ng-container>
              </div>
              <app-menu-nav
                *ngIf="context.profile"
                [cart]="cart"
                [cartPizza]="cartPizza"
                [allPizzas]="allPizzas"
                [allProducts]="allProducts"
                [valueType]="cartRequest.type"
                [tableMaxHeight]="'45.75vh'"
              ></app-menu-nav>
            </ng-template>
          </li>

          <li *ngIf="pageType === 'bartender' && context.getActiveTable()?.haveCarts()" ngbNavItem="resume">
            <!-- [ngStyle]="{ visibility: context.activeTableId ? 'visible' : 'hidden', width: context.activeTableId ? 'auto' : 0 }" -->
            <a ngbNavLink class="tab text-capitalize">{{ translate.text().summary }}</a>
            <ng-template ngbNavContent>
              <div class="d-flex flex-column" style="overflow: auto; max-height: 85vh">
                <div *ngFor="let command of context.getActiveTable()?.opened?.commands; index as index; trackBy: trackBy">
                  <div *ngIf="command.carts.length" class="p-4">
                    <h4 style="font-size: 1.5rem; color: var(--red); font-weight: bold">{{ command.name }}</h4>
                    <div *ngFor="let cart of command.carts; index as index; trackBy: trackBy">
                      <p
                        class="d-flex justify-content-between w-100"
                        style="font-size: 1.125rem; color: var(--legend-color)"
                        [ngClass]="cart.status === 'canceled' ? 'text-bg-danger p-2' : ''"
                      >
                        <span style="flex-basis: 100%">WM{{ cart.code }}-T</span>
                        <span class="text-capitalize" style="flex-basis: 100%; text-align: end"
                          >  {{ translate.text().order_by }} {{ cart.bartenderId ? context.activeBartender?.name : translate.text().client_comment }} <br />
                          <span style="font-size: 0.85rem">{{ diffTime(cart.created_at) }}</span></span
                        >
                      </p>
                      <div *ngFor="let pizza of cartService.itemCart(cart).cartPizza; index as index; trackBy: trackBy">
                        <p class="d-flex justify-content-between w-100" style="font-size: 1.125rem">
                          {{ pizza.quantity }}x {{ pizza.size }}
                          <span style="font-weight: bold">{{
                            cartService.pizzaTotalValue(pizza, cartRequest.type) * pizza.quantity | currency
                          }}</span>
                        </p>
                        <div class="ps-3 fg-gray" style="margin-top: -0.75rem">
                          <p *ngFor="let flavor of pizza.flavors; index as index; trackBy: trackBy">{{ flavor.name }}</p>
                        </div>
                        <p *ngIf="pizza.obs" class="ps-3 fg-gray" style="margin-top: -0.75rem">*Obs: {{ pizza.obs }}</p>
                      </div>
                      <div *ngFor="let product of cartService.itemCart(cart).cart; index as index; trackBy: trackBy">
                        <p class="d-flex justify-content-between w-100" style="font-size: 1.125rem">
                          {{ product.quantity }}x {{ product.name }}
                          <span style="font-weight: bold">{{
                            cartService.itemValueWithComplements({
                              item: product,
                              valueType: cartRequest.type,
                              type: 'product',
                              multiplyByQuantity: true
                            }) | currency
                          }}</span>
                        </p>
                        <p *ngIf="product.obs" class="ps-3 fg-gray" style="margin-top: -0.75rem">*Obs: {{ product.obs }}</p>
                      </div>
                      <div class="d-flex justify-content-end">
                        <button
                          *ngIf="context.activeBartender?.controls.type !== 'default'"
                          class="my-3 btn"
                          [ngClass]="cart.status !== 'canceled' ? 'btn-danger' : 'btn-outline-danger'"
                          [disabled]="cart.status === 'canceled'"
                          (click)="cancelCart(cart)"
                        >
                          {{ cart.status !== 'canceled' ? translate.text().cancel_order : translate.text().order_canceled }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
        <div *ngIf="pageType === 'pdv'" class="d-flex align-items-center gap-3 align-self-end" style="cursor: pointer; margin-bottom: 0.75rem">
          <p *ngIf="deviceWidth > 600 || !context.activeTableId" style="font-size: 1rem" class="fw-bold">{{ context.activeBartender?.name }}</p>
          <fa-icon
            style="color: #fff"
            [ngStyle]="{ 'font-size': deviceWidth > 600 ? '2rem' : '1.5rem' }"
            [icon]="faCashRegister"
            (click)="openCashier()"
          ></fa-icon>
          <fa-icon
            *ngIf="deviceWidth <= 600 && context.activeTableId"
            style="color: #fff; font-size: 1.5rem"
            [icon]="faBars"
            (click)="drawer.toggle()"
          ></fa-icon>
        </div>
      </div>

      <ng-container *ngIf="activeTab === 'counter'">
        <form (submit)="getClientBy($event)" class="d-flex gap-2 align-items-center mx-3 my-2" ngNativeValidate>
          <select class="form-select" [(ngModel)]="filter" (change)="search = null" name="filter">
            <option class="text-capitalize" value="whatsapp">{{ translate.text().phone }}</option>
            <option class="text-capitalize" value="name">{{ translate.text().name }}</option>
          </select>
          <div class="input-group" style="width: 100% !important">
            <fa-icon
              class="p-2 border rounded-start"
              style="color: var(--wm-green-500); font-size: 1.125rem"
              [icon]="filter === 'name' ? faUser : faPhone"
            ></fa-icon>
            <input
              [(ngModel)]="search"
              type="text"
              class="form-control border-start-0 ps-1"
              [placeholder]="translate.text().client_comment"
              name="search"
              [type]="filter === 'whatsapp' ? 'tel' : 'text'"
              [mask]="filter === 'whatsapp' && translate.masks().cell"
              id="clientSearchInput"
              required
            />
            <button type="submit" class="btn btn-secondary" style="max-height: 2.5rem" [disabled]="filter === 'whatsapp' && search?.length <= 9">
              <fa-icon style="font-size: 1.125rem" [icon]="faSearch"></fa-icon>
            </button>
          </div>
          <button
            type="button"
            class="d-flex justify-content-center align-items-center btn btn-primary rounded-circle fw-bold"
            style="width: 2.5rem; height: 2.5rem; font-size: 2.5rem"
            (click)="openClientRegister({ type: 'create' })"
          >
            +
          </button>
        </form>

        <app-accordion *ngIf="client" [border]="'#ff4757 solid 2px'">
          <p><span class="fw-bold text-capitalize">{{ translate.text().client }}:</span> {{ client.name }}</p>
          <div class="d-flex align-items-center justify-content-between">
            <p>Fone/WhatsApp: {{ client.whatsapp }}</p>
            <div class="d-flex align-items-center gap-2">
              <fa-icon
                style="color: var(--wm-green-500); font-size: 1.25rem; cursor: pointer"
                [icon]="faEdit"
                (click)="openClientRegister({ type: 'update' })"
              ></fa-icon>
            </div>
          </div>
          <div class="container mt-2">
            <div class="row">
              <ng-container *ngIf="client.addresses.length">
                <div class="col-12 col-md-6 p-2" *ngFor="let address of client.addresses; index as index; trackBy: trackBy">
                  <label [htmlFor]="'address-' + index" class="client-address-option">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="address"
                      [id]="'address-' + index"
                      [value]="address.id"
                      [(ngModel)]="cartRequest.addressId"
                    />
                    <p>
                      {{ address.street }}, {{ address.number ? address.number : 'SN' }} - {{ address.neighborhood }} - {{ address.city }} -
                      {{ address.uf }}
                    </p>
                    <i class="bi bi-trash text-danger ms-auto fw-bold fs-5 p-2" (click)="deleteAddress(address.id)" ></i>
                  </label>
                </div>
              </ng-container>
              <div *ngIf="!client.addresses.length" class="p-5 fs-3 text-center">
                <p class="text-capitalize">{{ translate.text().no_registred_address }}</p>
                <button class="btn btn-link p-0 text-capitalize" (click)="openAddress()">{{ translate.text().add_address }}</button>
              </div>
              <div *ngIf="client.addresses.length" class="col-12 col-md-6 p-2">
                <div class="client-address-option justify-content-center" style="padding-block: 1.125rem">
                  <button class="btn btn-link p-0 text-capitalize" (click)="openAddress()">{{ translate.text().add_address }}</button>
                </div>
              </div>
            </div>
          </div>
          <ng-container *ngIf="client.last_requests?.length">
            <h2 class="my-2 text-capitalize">{{ translate.text().last_orders }}</h2>
            <table class="table table-hover">
              <thead style="border-bottom: 2px solid var(--wm-gray-600); font-size: 1.25rem">
                <tr>
                  <th *ngIf="deviceWidth > 600">Cód.</th>
                  <th class="text-capitalize">{{ translate.text().date }}</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody style="font-size: 1rem">
                <tr *ngFor="let request of client.last_requests">
                  <td *ngIf="deviceWidth > 600">wm{{ request.code }}-{{ request.type }}</td>
                  <td>{{ requestDate(request.created_at) }}</td>
                  <td>{{ request.total | currency }}</td>
                  <td class="d-flex justify-content-end">
                    <button type="button" class="btn btn-link text-decoration-none" (click)="openCartRepeat(client, request)">Ver Pedido</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </app-accordion>
      </ng-container>
    </div>
    <div [ngbNavOutlet]="nav_pdv_content" class="pdv-content" [ngStyle]="{ 'max-height': activeTab === 'tables' ? '93vh' : 'auto' }"></div>
    <details *ngIf="activeTab !== 'tables'" class="pdv-footer">
      <summary class="justify-content-end">
        <fa-icon class="toggle-footer" [icon]="faChevronUp"></fa-icon>
        <div class="d-flex align-items-center gap-3 rounded-5 bg-white py-2 px-3 my-auto me-3" style="color: var(--wm-red-500)">
          <fa-icon class="fs-3" [icon]="faShoppingBasket"></fa-icon>
          <div class="fw-bold">
            <p class="fs-4 mt-1">
              {{
                activeTab !== 'resume'
                  ? (cartService.totalCartValue(cart, cartPizza, cartRequest) | currency)
                  : (context.getActiveTable()?.opened.getTotalValue() | currency)
              }}
            </p>
            <p *ngIf="activeTab !== 'resume'">{{ cart.length + cartPizza.length }} Itens</p>
          </div>
        </div>
      </summary>
      <div *ngIf="activeTab !== 'resume'" class="px-3">
        <div style="max-height: 35vh; overflow-y: scroll; overflow-x: hidden">
          <app-cart-itens [cart]="cart" [cartPizza]="cartPizza" [valueType]="cartRequest.type"></app-cart-itens>
        </div>
        <hr />
        <div class="d-flex align-items-center justify-content-between mb-2">
          <button type="button" class="btn text-capitalize" style="background-color: var(--wm-white)" (click)="clearCarts()">{{ translate.text().clear }}</button>
          <button
            type="button"
            class="btn text-capitalize"
            style="background-color: var(--wm-green-700); color: var(--wm-white);"
            id="storeCartButton"
            [disabled]="(!cart.length && !cartPizza.length) || (cartRequest.type === 'T' && !context.activeCommandId)"
            (click)="openNewCart()"
          >
            {{ translate.text().order_buy }}
          </button>
        </div>
      </div>
      <div *ngIf="activeTab === 'resume'" class="d-flex flex-column px-3">
        <div class="d-flex justify-content-between pb-3" style="color: var(--red); font-size: 1.5rem; font-weight: bold"></div>
        <div *ngFor="let command of context.getActiveTable()?.opened?.commands; index as index; trackBy: trackBy" class="mb-5">
          <div class="d-flex justify-content-between">
            <h4 style="font-size: 1.25rem; color: var(--red); font-weight: bold; margin: 0">
              {{ command.name }}
            </h4>
            <span style="color: black; font-weight: bold; font-size: 1.125rem">{{ command.getTotalValue('command') | currency }}</span>
          </div>
          <div *ngFor="let fee of command.fees; index as index; trackBy: trackBy">
            <div *ngIf="fee.type === 'fixed'" class="d-flex justify-content-between ps-3" style="font-weight: bold">
              <span>
                {{ fee.code }}
              </span>
              <span>
                {{ fee.value * fee.quantity | currency }}
              </span>
            </div>
            <div *ngIf="fee.type === 'percent'" class="d-flex justify-content-between ps-3" style="font-weight: bold">
              <span>
                {{ fee.code }}
              </span>
              <span>
                {{ (command.getTotalValue('command') / 100) * fee.value | currency }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </details>
    <!-- Mobile Menu -->
    <mat-drawer-container class="position-fixed" [hasBackdrop]="true" autosize style="right: 0; height: 100vh">
      <mat-drawer #drawer mode="side" class="text-end" disableClose style="width: 75vw">
        <div class="d-flex align-items-center gap-3 p-3 fs-5 w-100" (click)="drawer.toggle()">
          <fa-icon [icon]="faArrowLeft" style="cursor: pointer"></fa-icon>
          <p>Menu</p>
          <p class="ms-auto text-capitalize">{{ translate.text().user }}</p>
        </div>
        <div class="border-top py-3 pe-3">
          <button type="button" class="btn btn-link text-capitalize" (click)="openCommands()">{{ translate.text().order_slip_s }}</button>
        </div>
        <div class="border-top py-3 pe-3">
          <button type="button" class="btn btn-link text-capitalize" (click)="openSwitchTable()">{{ translate.text().change_table }}</button>
        </div>
        <div class="border-top py-3 pe-3">
          <button type="button" class="btn btn-link text-capitalize" (click)="printTable()">{{ translate.text().print_table }}</button>
        </div>
        <div class="border-top py-3 pe-3">
          <button type="button" class="btn btn-link text-capitalize" (click)="this.context.getActiveTable()?.haveCarts() ? openPayment({ tableType: 'table' }) : ''">
            {{ translate.text().close_table }}
          </button>
        </div>
        <div class="border-top py-3 pe-3">
          <button type="button" class="btn btn-link text-capitalize" (click)="tablesStatus()">
            {{ this.context.getActiveTable()?.status ? translate.text().pause_comment : translate.text().unpause_comment }} {{ translate.text().table }}
          </button>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>
