<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsmenu - Visão Geral</title>
    <link rel="stylesheet" type="text/css" href="/videoaulas-new/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/videoaulas-new/dist/style.css?v=1">
</head>

<body>
    @include("videoaulas-new/include/mobile-menu")
    <div class="pusher">
        <div id="container-geral">
            <!-- COLUNA MENU -->
            <div id="coluna-menu" class="hide-for-medium-only hide-for-small-only">
                @include("videoaulas-new/include/coluna-menu")
            </div>
            <!-- /FIM COLUNA MENU -->
            <!-- COLUNA CONTEÚDO -->
            <div id="coluna-conteudo">
            <div class="contentBody">
                    <div class="ui container">
                        <a class="ui button blue botLEFT hide-for-large">Menu</a>
                        <div class="ui grid middle aligned">
                            <div class="sixteen wide mobile eleven wide computer centered column center aligned">
                                <div class="ui segment basic mt-40">
                                    <h3>VISÃO GERAL PDV</h3>
                                    <div class="ui embed">
                                    <iframe src="https://www.youtube.com/embed/9Aq37MSTvJU" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
                                    </div>
                                    <div class="ui hidden divider"></div>
                                    <h3>Veja todas as funcionalidades exclusivas da ferramenta <br> <b>PDV WhatsMenu</b>.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /FIM CONTEÚDO -->
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/videoaulas-new/dist/semantic.min.js"></script>
    {{--  <script src="/videoaulas-new/dist/script.js"></script>  --}}
    <script>
        $('.ui.sidebar.left').sidebar('setting', 'transition', 'overlay');
        $('.botLEFT').click(function() {
            $('.ui.sidebar.left').sidebar('toggle');
        });
        $('.ui.accordion')
        .accordion()
        ;
    </script>
</body>

</html>
