body{
    line-height: 1.66!important;
}

b{
    font-size: 18px;
}

span.fs-4{
    line-height: 1.1;
}

span.fs-4 b{
    font-size:21.525px
}

li{
    font-size: 15.75px;
    line-height: 1.66;
}

.payment-flags{
    text-transform: capitalize !important;
}

.phone-label{
    position: absolute;
    bottom: 0;
}

.address-confirm{
    text-align: left;
}

.address-confirm h4{
    font-weight: 600;
    margin: 0;
}

.address-confirm p{
    margin: 0;
}

.mat-mdc-checkbox .mat-checkbox-layout{
    margin: 0 !important;
}

.address-confirm-column, .group-formpayment{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn-alter{
    align-self: flex-end;
}

.group-formpayment{
    justify-content: center;
    gap: 10px;
}

.mdc-dialog__content{
    padding: 0!important;
}

/* mat-dialog-actions{
    min-height: 72px!important;
} */

.title{
    color: rgb(95, 125, 149);
    font-size: 18px;
}

li{
    text-align:left;
}

.text-red {
    color: var(--color-red);
}

.mdc-dialog__actions{
    padding: 0 0.75rem!important;
}

#subtotal{
    font-size: 1.125rem!important;
    line-height: 1.2!important;
}

#subtotal .text-black-50{
    font-size: 1rem
}


