<div mat-dialog-title class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center gap-3">
    <fa-icon
      *ngIf="pixQrCodeMode || !disableCancelButton()"
      [icon]="faArrowLeft"
      style="cursor: pointer"
      (click)="pixQrCodeMode ? cancelPixMode() : close({ goBack: true, cancel: true })"
    ></fa-icon>
    <h3 class="m-0 fs-5 text-capitalize">
      {{ translate.text().payment_method
      }}<span *ngIf="deviceWidth > 600">
        -
        <span style="color: var(--wm-red-300)">{{
          data.cartRequest?.type === 'T' ? context[data.tableType === 'table' ? 'getActiveTable' : 'getActiveCommand']()?.name : data.client?.name
        }}</span></span
      >
    </h3>
  </div>
</div>
<mat-dialog-content class="d-flex flex-column">
  <div class="h-100" *ngIf="pixQrCodeMode; else paymentTemplate">
    <div class="p-4 d-flex flex-grow-1 h-100">
      <ng-container *ngTemplateOutlet="pixTemplate"></ng-container>
    </div>
  </div>
  <!-- <ng-container *ngTemplateOutlet="paymentTemplate" /> -->
</mat-dialog-content>
<mat-dialog-actions *ngIf="!pixQrCodeMode" class="align-items-center justify-content-between gap-3">
  <div *ngIf="deviceWidth > 600">
    <p class="text-capitalize">{{ translate.text().shortcuts }}</p>
    <p>
      <span class="fw-bold">Enter:</span>
      {{ translate.text().next_confirm }}
    </p>
    <p>
      <span class="fw-bold">ESC:</span>
      {{ translate.text().return_cancel }}
    </p>
  </div>
  <div class="d-flex justify-content-between justify-content-md-end lign-self-end gap-3">
    <button
      class="flex-sm-grow-1 btn btn-outline-secondary text-capitalize"
      style="color: var(--wm-gray-300)"
      [disabled]="disableCancelButton()"
      (click)="close({ cancel: true })"
    >
      {{ translate.text().cancel }}
    </button>
    <button
      class="flex-sm-grow-1 text-capitalize"
      *ngIf="!data.tableType"
      class="btn"
      style="background-color: var(--wm-yellow-500)"
      (click)="close({ goBack: true })"
    >
      {{ translate.text().return }}
    </button>
    <button
      class="flex-sm-grow-1 btn text-capitalize"
      id="confirmPayment"
      style="color: var(--wm-white); background-color: var(--wm-green-500)"
      [disabled]="closeVerify()"
      (click)="close({ cancel: false })"
      id="finishPaymentButton"
    >
      {{ translate.text().proceed }}
    </button>
  </div>
</mat-dialog-actions>

<ng-template #paymentTemplate>
  <div>
    <div class="fs-5 mb-2 p-3" *ngIf="deviceWidth <= 600">
      <span class="fw-bold text-capitalize">{{ translate.text().name }}: </span>
      <span style="color: var(--wm-red-300)">{{ data.cartRequest?.type === 'T' ? context.getActiveCommand()?.name : data.client?.name }}</span>
    </div>
    <div *ngIf="data.cartRequest?.type !== 'T'" class="d-flex align-items-center justify-content-between fs-5 p-3">
      <div>
        <span class="fw-bold text-capitalize">{{ translate.text().delivery }}: </span>
        <span>{{ getAddressString() }}</span>
      </div>
      <button class="btn btn-link text-capitalize" style="color: var(--wm-red-300)" (click)="openAddress()">
        {{ translate.text().change_comment }}
      </button>
    </div>
    <div *ngIf="data.cartRequest?.type === 'P'" class="d-flex align-items-center justify-content-between fs-5 border-top p-3 text-uppercase">
      <p>{{ translate.text().delivery_date }}: {{ getPackageDateString() }}</p>
    </div>
  </div>

  <app-fees-table
    [tableType]="data.tableType"
    *ngIf="data.cartRequest?.type === 'T'"
    class="align-self-center my-3 w-100"
    (feesChange)="setValues(true)"
  ></app-fees-table>

  <div class="border-top py-1">
    <div class="d-flex w-100 text-center my-3">
      <div class="flex-grow-1 py-2 text-capitalize" style="color: var(--wm-black)">
        <p>{{ translate.text().paid }}</p>
        <p class="fs-1">{{ context.currency(paidValue, true) }}</p>
      </div>
      <div class="border py-2 border-top-0 border-bottom-0 flex-grow-1" style="color: var(--wm-red-300)">
        <p class="text-capitalize">{{ translate.text().remaining }}</p>
        <p class="fs-1">{{ context.currency(lackValue, true) }}</p>
      </div>
      <div class="flex-grow-1 py-2" style="color: var(--wm-green-500)">
        <p>Total</p>
        <p class="fs-1">{{ context.currency(total, true) }}</p>
      </div>
    </div>
    <div class="row m-0 p-3 w-100 text-nowrap text-capitalize" id="formPaymentForm" style="background-color: var(--wm-gray-light-300)">
      <label class="col-6 col-md-3" for="formpayment-value">
        <p class="my-2" style="font-size: 0.875rem">{{ translate.text().value }}:</p>
        <input
          maxlength="15"
          inputmode="numeric"
          class="form-control"
          placeholder="0,00"
          id="formpayment-value"
          [ngModel]="value"
          (ngModelChange)="value = changeValueSet($event)"
        />
      </label>
      <label class="col-6 col-md-3" for="formpayment-value">
        <p class="my-2 text-capitalize" style="font-size: 0.875rem">{{ translate.text().payment_method }}:</p>
        <select
          type="number"
          class="form-select"
          id="formpayment-value"
          style="width: 100% !important"
          [ngModel]="profileFormPayment.payment"
          (ngModelChange)="getFormPayment($event)"
        >
          <option *ngFor="let formpayment of getFilterPayment(); index as index" [value]="formpayment.payment">
            {{ index + 1 }} - {{ translate.text()[formpayment.payment] }}
          </option>
        </select>
      </label>
      <label *ngIf="profileFormPayment.payment === 'money'" class="col-6 col-md-3" for="formpayment-value">
        <p class="my-2 text-capitalize" style="font-size: 0.875rem">{{ translate.text().change_for }}:</p>
        <input
          maxlength="15"
          inputmode="numeric"
          class="form-control"
          placeholder="0,00"
          id="formpayment-value"
          [ngModel]="change"
          (ngModelChange)="change = changeValueSet($event)"
        />
      </label>
      <label *ngIf="profileFormPayment.payment !== 'money'" class="col-6 col-md-3" for="formpayment-flag">
        <p class="my-2 text-capitalize" style="font-size: 0.875rem">{{ translate.text().card_network }}:</p>
        <select
          class="form-select"
          id="formpayment-flag"
          style="width: 100% !important"
          [(ngModel)]="flag"
          [disabled]="!profileFormPayment?.flags || !profileFormPayment?.flags.length"
        >
          <ng-container *ngIf="profileFormPayment?.flags"></ng-container>
          <option *ngFor="let flag of profileFormPayment?.flags" [value]="flag.code">{{ flag.name }}</option>
        </select>
      </label>
      <div class="col-6 col-md mt-auto">
        <!-- (click)="formPayment === 'pix' ? pixQrCodeMode = true : setFormPayment()" -->
        <button
          class="btn text-nowrap w-100"
          style="background-color: var(--wm-green-500); color: var(--wm-white)"
          (click)="
            !context.profile.options.pdv.sendWhatsMessage &&
            !context.profile.options.legacyPix &&
            context.profile.options.asaas &&
            context.profile.options.onlinePix &&
            profileFormPayment.payment === 'pix'
              ? (pixQrCodeMode = true)
              : setFormPayment()
          "
          [disabled]="addPaymentDisableCondition()"
        >
          <!-- Adicionar -->
          {{
            !context.profile.options.pdv.sendWhatsMessage &&
            !context.profile.options.legacyPix &&
            context.profile.options.asaas &&
            context.profile.options.onlinePix &&
            profileFormPayment.payment === 'pix'
              ? translate.text().generate_pix_key
              : translate.text().add_comment
          }}
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="demandAddonValue && addonValue" class="w-100 p-4 text-center text-success fw-bold text-capitalize">
    {{ profileFormPayment.addon?.type === 'discount' ? translate.text().discount_comment : translate.text().fee_comment }}
    {{ translate.text()[profileFormPayment.payment] }} {{ addonValue | currency }}
  </div>

  <div class="py-2 px-4">
    <app-cashback
      *ngIf="data.cartRequest.type !== 'T' && context.profile.options.voucher[0].status && data.client.vouchers.length"
      [value]="cashbackValueAvaliable()"
      class="my-2"
      [(formsPayment)]="formsPayment"
    />
  </div>

  <table class="table table-hover table-bordered mb-4 text-center text-nowrap">
    <thead style="border-bottom: 2px solid var(--wm-gray-600); font-size: 1rem">
      <tr>
        <th class="text-capitalize">{{ translate.text().type }}</th>
        <th class="text-capitalize">{{ translate.text().card_network }}</th>
        <th class="text-capitalize">{{ translate.text().value }}</th>
        <th class="text-capitalize">{{ translate.text().fee_discount }}</th>
        <th class="text-capitalize">{{ translate.text().remove }}</th>
      </tr>
    </thead>
    <tbody style="font-size: 1rem; vertical-align: middle">
      <ng-container *ngIf="data.tableType === 'command'">
        <ng-container
          *ngTemplateOutlet="formPaymentTr; context: { formsPaymentData: context.getActiveCommand()?.formsPayment, noExclude: true }"
        ></ng-container>
      </ng-container>
      <ng-container *ngIf="data.tableType === 'table'">
        <ng-container
          *ngTemplateOutlet="formPaymentTr; context: { formsPaymentData: context.getActiveTable()?.opened.formsPayment, noExclude: true }"
        ></ng-container>
      </ng-container>
      <ng-container *ngTemplateOutlet="formPaymentTr; context: { formsPaymentData: formsPayment, noExlude: true }"></ng-container>
    </tbody>
  </table>
</ng-template>

<ng-template #formPaymentTr let-formsPaymentData="formsPaymentData" let-noExclude="noExclude">
  <tr *ngFor="let formPayment of formsPaymentData; index as index">
    <td>{{ translate.text()[formPayment.payment] }}</td>
    <td>{{ formPayment.flag ? formPayment.flag.name : '-' }}</td>
    <td>
      <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
        <p>{{ formPaymentListValue(formPayment) | currency }}</p>
        <p class="text-capitalize" *ngIf="formPayment.change">
          <span *ngIf="deviceWidth > 600">&nbsp;-&nbsp;</span>{{ translate.text().change }}:
          {{ formPayment.change - (demandAddonValue && addonValue ? formPayment.value + addonValue : formPayment.value) | currency }}
        </p>
      </div>
    </td>
    <td>
      {{
        formPayment.addon?.status
          ? (profileFormPayment.addon?.type === 'discount' ? translate.text().discont + ' -' : 'Taxa') +
            cartService.formPaymentAddonCalcResult(formPayment, data.cartRequest.total).toFixed(2)
          : '-'
      }}
    </td>
    <td class="fw-bold" style="color: var(--wm-red-300); cursor: pointer" (click)="removePayment(index)">
      <ng-container *ngIf="!noExclude && !formPayment.paid"> X </ng-container>
    </td>
  </tr>
</ng-template>

<ng-template #pixTemplate>
  <div class="d-flex flex-column gap-4 flex-grow-1">
    <ng-container *ngIf="!pixInvoice.qrCode">
      <div class="d-flex flex-column align-items-center gap-3">
        <img src="/assets/pix.svg" alt="pix logo" style="width: 42px; aspect-ratio: 1/1" />
        <p class="fs-4 fw-semibold text-black">{{ translate.text().how_pay_pix }}!</p>
      </div>
      <ul class="text-black fw-semibold p-0 d-flex flex-column gap-2">
        <ng-container *ngFor="let step of pixSteps; let index = index">
          <li class="d-flex gap-3 align-items-center">
            <span class="fw-semibold text-nowrap text-black badge p-1 my-auto text-capitalize" style="background-color: var(--wm-blue-200)"
              >{{ index + 1 }}º {{ translate.text().step }}</span
            >
            <p class="fw-semibold flex-grow-1">{{ step }}</p>
          </li>
        </ng-container>
      </ul>

      <div class="mt-4">
        <label for="pix-cpf-input" class="mb-1 fw-semibold form-label text-capitalize">{{ translate.text().enter_cpf }} </label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control mb-2"
          [placeholder]="translate.text().ssn_model_comment"
          id="pix-cpf-input"
          [mask]="translate.text().ssn_model_comment"
          [(ngModel)]="pixSecretNumber"
        />
        <p style="color: var(--wm-gray-550); font-size: 0.75rem">{{ translate.text().enter_a_valid_cpf }}</p>
      </div>
      <div class="d-flex flex-column gap-2 mt-auto">
        <button
          class="btn mt-auto p-3 w-100 fw-bold"
          style="color: var(--wm-white); background-color: var(--wm-green-500)"
          [disabled]="pixSecretNumber.length < 11"
          (click)="generatePix({ regenerate: false })"
          #generatePixButton
        >
          {{ translate.text().generate_pix_key }}
        </button>
        <button class="btn btn-link text-danger p-3 w-100 fw-bold text-capitalize" (click)="cancelPixMode()">{{ translate.text().cancel }}</button>
      </div>
    </ng-container>
    <ng-container *ngIf="pixInvoice.qrCode">
      <!-- <div class="alert alert-danger mb-2" role="alert">Pagamento ainda pendente. Por favor tente novamente.</div> -->

      <div *ngIf="!pixRegeneration" class="d-flex align-items-center flex-column">
        <p class="fs-5 fw-semibold text-capitalize">{{ translate.text().order_pending_payment }}</p>
        <div *ngIf="'!pixRegeneration'">
          <p style="width: 140px; font-size: 12px" class="text-center text-black fw-semibold lh-1 mt-5 text-capitalize">
            {{ translate.text().payment_deadline }}:
          </p>
          <app-countdown [minutes]="5" [radius]="45" />
        </div>
        <img src="data:image/jpeg;base64, {{ pixInvoice.qrCode }}" alt="QR Code Pix" style="width: 125px; aspect-ratio: 1/1" />

        <label for="pixCopyPaste" class="form-label text-capitalize" style="color: var(--wm-gray-550)">{{ translate.text().pix_copy_paste }}</label>
        <div class="input-group mb-3">
          <input class="form-control" id="pixCopyPaste" [(ngModel)]="pixInvoice.copyPaste" readonly />
        </div>
        <button
          id="copy-paste"
          class="btn btn-primary text-capitalize"
          type="button"
          #t="ngbTooltip"
          triggers="manual"
          [ngbTooltip]="'Chave PIX copiada!'"
          (click)="copyToClipboardOnline()"
        >
          {{ translate.text().copy_code }}
          <fa-icon [icon]="faPaste" />
        </button>
      </div>
    </ng-container>

    <!-- Renderização do botão para gerar novo QR Code -->

    <div *ngIf="pixRegeneration" class="h-100 d-flex flex-column justify-content-center align-items-center">
      <fa-icon [icon]="faRotate" role="button" (click)="generatePix({ regenerate: true })" size="4x" class="text-center"></fa-icon>
      <p class="text-center mt-4">{{ translate.text().pix_key_expired }}</p>
    </div>

    <p *ngIf="!pixRegeneration && pixInvoice.qrCode" class="text-center text-black fw-semibold mx-5 text-capitalize" style="font-size: 0.875rem">
      {{ translate.text().confirmation_is_taking_too_long }}
    </p>

    <div class="d-flex flex-column gap-2 mt-auto" *ngIf="pixInvoice.qrCode">
      <button
        class="btn p-3 w-100 fw-bold text-capitalize"
        style="color: var(--wm-white); background-color: var(--wm-green-500)"
        (click)="verifyPix()"
      >
        {{ translate.text().verify_pix_payment }}
      </button>
      <button class="btn btn-link text-danger p-3 w-100 fw-bold text-capitalize" (click)="cancelPixMode()">{{ translate.text().cancel }}</button>
    </div>
  </div>
</ng-template>
