<!-- <div *ngIf="data.bartenders.length">
  <h4 class="text-center m-0">Mesa: {{ data.table.name }}</h4>
  <form (ngSubmit)="authBartender()">
    <div class="d-flex flex-column flex-row-md flex-align-center mt-2" style="gap: 0.5rem">
      <div class="d-flex flex-align-center w-100" style="gap: 0.5rem; flex: 1;">
        <div class="select-container">
          <select tabindex="-1" name="bartender" [(ngModel)]="bartenderId" (change)="setFocusInputPassword()"
            style="font-size: 0.85rem;"> -->
            <!-- <option *ngFor="let bartender of data.bartenders" [value]="bartender.id">
              {{ bartender.name }}
            </option>
          </select>
          <fa-icon style="color: var(--wm-gray-300);" class="me-2" [icon]="faChevronDown"></fa-icon>
          
        </div>
      </div>
      <div class="d-flex flex-align-center"
        style="border: 1px solid gainsboro; background-color: white; color: gray; border-radius: 6px; flex: 1;">
        <input id="bartenderPassword" (focus)="moveModalOnFocusOrBlur('focus')" (blur)="moveModalOnFocusOrBlur('blur')"
          tabindex="1" name="password" #inputPassword type="password" autoComplete="off" placeholder="Senha"
          [(ngModel)]="password" style="box-shadow: none; border-radius: 6px 0 0 6px; border: 0; color: gray;"
          class="text-center" />
        <fa-icon *ngIf="deviceWidth > 768" [icon]="faKeyboard" class="mr-2" style="border-radius: 0 6px 6px 0;"
          [ngStyle]="{opacity: keyBoardIsEnable ? 1 : '0.5'}" (click)="toggleKeyboard()"></fa-icon>
      </div>
    </div>
    <div class="d-flex flex-justify-center ">
      <button type="submit" m4-button [disabled]="!password || !bartenderId"
        style="background: var(--primary); color: white" class="mt-2 border border-radius w-100 w-auto-md">OK</button>
    </div>
  </form>
</div>

<div *ngIf="!data.bartenders.length" class="text-center">
  <h1>Não há garçons registrados, para registrar um garçom entre em seu painel de administrador vá em <span
      class="text-bold">Configurações</span> > <span class="text-bold">Mesa</span> na aba de <span
      class="text-bold">Garçons</span></h1>
  <button m4-button style="background: var(--primary); color: white" class="mt-2 border border-radius w-100"
    (click)="close()">OK</button>
</div> -->