<!doctype html>
<html class="no-js" lang="pt">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Language" content="pt-br">
    <title>Whatsmenu - Login</title>
    <link rel="stylesheet" href="/dist/semantic.min.css" />
    <link rel="stylesheet" href="/dist/style.css" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">

    <style>
        html,
        body {
            height: 100%;
            background: #34aa49;
        }
    </style>
</head>
<body>
  @!section('body')

  <script src="/dist/jquery-3.6.0.min.js"></script>
    {{--  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>  --}}
    <script src="/dist/jquery.mask.min.js"></script>
    <script src="/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brazilian-values"></script>
    <script src="/dist/script.js"></script>

    {{--  React Lib  --}}
    @if(isProduction())

      <script src="/dist/react.production.min.js"></script>
      <script src="/dist/react-dom.production.min.js"></script>

    @else

      <script crossorigin src="/dist/react.development.js"></script>
      <script crossorigin src="/dist/react-dom.development.js"></script>

    @endif

    <script src="/dist/babel.min.js"></script>
    <script src="/js/wm-functions.js?v=2"></script>
    <script>
      console.log('teste');
    </script>
    @!section('js')
</body>
</html>
