<h1 class="text-capitalize" mat-dialog-title>{{ translate.text().attention }}!</h1>
<mat-dialog-content>
    <p class="p-3 text-capitalize">{{ translate.text(). complete_order_mandotory }}:</p>
    <ul>
        <li *ngFor="let item of itens">{{ item }}</li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="!bartenderStyle" mat-dialog-close m4-button style="width: 100%;margin-left: 12px;" btn-style="alert"
        class="fluid alert">OK</button>
    <button *ngIf="bartenderStyle" mat-dialog-close class="primary-button">OK</button>
</mat-dialog-actions>