<div mat-dialog-title class="d-flex align-items-center gap-2">
  <fa-icon mat-dialog-close [icon]="faArrowLeft" style="cursor: pointer; color: var(--red)"></fa-icon>
  <b>{{ translate.text().table }}: {{ this.data.table.name }}</b>
</div>
<mat-dialog-content>
  <div class="py-2 px-4">
    <b>{{ translate.text().order_slip_s }}</b>
    <div *ngIf="tableCommands.length > 0" class="mb-2">
      <ng-container *ngFor="let command of tableCommands">
        <label
          *ngIf="command.status !== 0"
          for="{{ command.name }}"
          class="d-flex align-items-center gap-3 ms-2"
          [ngStyle]="{ color: newCommandName !== '' ? 'gray' : 'black' }"
        >
          <input
            *ngIf="command.status !== 0"
            type="radio"
            name="radio_caption"
            class="form-check-input"
            (click)="validation(command.name, command.id)"
            id="{{ command.name }}"
            value="{{ command.name }}"
            [disabled]="newCommandName !== '' ? clearCommand() : false"
            [checked]="newCommandName !== '' ? false : ''"
          />
          <span>{{ command.name }}</span>
        </label>
      </ng-container>
    </div>
    <ng-container *ngIf="!newCommand">
      <button class="btn btn-link" *ngIf="tableCommands.length > 0" (click)="newCommand = true">{{ translate.text().open_new_order }}</button>
    </ng-container>
    <div *ngIf="tableCommands.length <= 0 || newCommand">
      <div class="d-flex flex-column">
        <label>{{ translate.text().what_your_name }}?</label>
        <input type="text" [(ngModel)]="newCommandName" class="form-control" id="input_delivery_name" #newCommandNameInput />
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button disabled class="btn bg-theme w-100" *ngIf="command === '' && newCommandName === ''">
    {{
      !newCommand
        ? tableCommands.length <= 0
          ? translate.text().enter_name_your_order
          : translate.text().select_order
        : translate.text().enter_name_your_order
    }}
  </button>
  <button class="btn bg-theme w-100" *ngIf="command !== '' || newCommandName !== ''" (click)="newCommandName === '' ? getCommand() : createCommand()">
    {{ translate.text().save }}
  </button>
</mat-dialog-actions>
