<div class="ui overlay fullscreen modal ordenar-itens">
  <i class="close icon"></i>
  <div class="header">Ordenar Itens</div>
  <div class="scrolling content">
    <div id="categoriesList" class="ui list"></div>
  </div>
  <div class="actions">
      <div class="ui approve green button">Fechar</div>
  </div>
</div>
