.header {
  position: fixed;
  top: 0;
  z-index: 999;
  max-width: 1024px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid #DEDEDE;
}

.select-container,
.input-container {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 6px;
  min-height: 2.25rem;
}

select,
input:not([type='radio']) {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 6px 0 0 6px;
  border: 0;
  outline: 0;
  color: gray;
  box-shadow: none;
}

.header .header-content {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header * {
  padding: 0.75rem;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.header h1 {
  padding: 0 0 0 1rem;
  color: #828696;
}

.header p {
  background-color: #2D3436;
  color: #FFFFFF;
}

#bartender-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  min-height: 100vh;
}

#bartender-component .header {
  background-color: #FFFFFF;
}

#bartender-component section,
#bartender-component .header {
  max-width: 1024px;
  width: 100%;
}

.tables-container {
  height: 100%;
}

.title {
  font-weight: bold;
  color: var(--legend-color);
  margin: 0;
}

.legend-text {
  font-weight: bold;
  color: var(--legend-color);
  font-size: 0.875rem;
}

.wm-table {
  /* max- width: 6rem !important; */
  /* max-height: 6rem !important; */
  word-break: break-word;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin: unset;
  transition: all 0.5s;
  color: inherit !important;
  border: 2px solid;
  border-radius: 25px;
  cursor: pointer;
}

.wm-table>div {
  margin: unset;
  padding: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wm-table>div>span {
  text-align: center;
}

.default {
  border: 2px solid;
  border-color: #ced4da;
  background-color: #e9ecef;
}

.busy {
  border: 2px solid;
  border-color: #2185d0;
  background-color: #ddf4ff;
}

.paused {
  border: 2px solid;
  border-color: #db2828;
  background-color: #ffe1df;
}

.content_tab {
  transition: all .2s;
}

#headerContainer {
  background-color: var(--bartender-background);
}

.button-tab {
  font-size: 1rem;
  color: #B1B1B1;
  border: 1px solid #D4DAE0;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  padding: 1rem 1.5rem 0.5rem;
  cursor: pointer;
  background-color: #E8EBEE;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.button-tab.active {
  color: white;
  background-color: var(--primary);
}

.primary-button {
  padding: 0.75rem;
  border: 0;
  border-radius: 8px;

  text-transform: uppercase;
  color: white;
  background: var(--primary);

  font-size: 1.25rem;
  cursor: pointer;
}

.primary-button:disabled {
  opacity: 0.5;
}

.primary-button.request-cart {
  width: auto;
  padding: 0 0.5rem;
  background: var(--green);
}

.primary-button.clear-cart {
  width: auto;
  padding: 0 0.5rem;
  background: white;
  color: var(--red);
  border: 2px solid var(--red);
}

.primary-button.clear-cart:hover,
.primary-button.clear-cart:active {
  background: var(--red);
  color: white;
}

.quantity-label {
  font-weight: bold;
  color: #828696;
  font-size: 1rem;
}

table {
  width: 100%;
}

th,
td {
  vertical-align: middle;
  padding: 0 !important;
  font-size: 1rem;
}

td+td,
th+th {
  padding: 0 0.25rem !important;
}

.icon-button {
  border-radius: 50%;
  border: 0;
  font-size: 0.875rem;
  background-color: var(--green);
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 0;
  width: 0;
}

.bartender-request-cart th {
  padding-right: .5rem;
  font-size: .85rem;
}

.bartender-request-cart td {
  padding: 0.25rem;
}

.observation-cart {
  margin-left: 2.25rem;
}

.table-scroll-container {
  overflow-y: auto;
  position: relative; // barra de rolagem interna no menu pdv
}

.bartender-requests-control {
  position: relative;
  max-height: 46rem
}

.bartender-menu {
  position: relative;
  top: unset !important;
  min-height: 27rem;
}

tr.detail-row {
  height: 0;
}

.element-row {
  position: relative !important;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  height: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {

  /* .font-sizes  * {
    font-size: 0.75rem !important;
  } */
  .select-responsive-fix {
    max-width: 100px !important;
  }

  .bartender-requests-control.mat-grid-tile {
    max-height: calc(50vh + 0rem) !important;
  }
}

.commandActions {
  padding: 1.25rem !important;
  background: #F3F3F3 !important;
}

.new-command-button {
  border-radius: 50%;
  display: flex;
  padding: 0.35rem;
  width: auto !important;
}

.requestItem {
  background-color: transparent;
}

.complementName {
  font-weight: bolder !important;
  font-size: 0.875rem;
  padding: .625rem !important;
}

.itemComplement {
  list-style: none;
  font-size: 1rem;
}

.itemComplement:nth-child(even) {
  background: #F3F3F3;
  padding: 0.125rem 0;
}

button.alert.icon {
  padding: 0;
}

button.success.icon {
  padding: 0 5px;
}

.icon {
  height: 24px;
  width: 24px;
}

.minQuantity {
  margin-bottom: -0.5rem;
}

.complementsItensContainer {
  overflow: auto;
  max-height: 200px;
}

.bartender-footer-accordion {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1024px;
  z-index: 999;
  font-size: 1rem;
}

.toggle-accordion-button {
  top: 21px;
  left: calc(50% - 21px);
  width: 42px;
  height: 42px;
  z-index: 999;
  background-color: #FFFFFF;
  border: 2px solid #F5F9FF;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.09);
}

.toggle-accordion-button.opened::before,
.toggle-accordion-button.closed::before {
  content: '';
  width: 13px;
  height: 13px;
  border: solid black;
  border-width: 2px 0 0 2px;
  position: absolute;
  left: 13px;
}

.toggle-accordion-button.opened::before {
  top: 12px;
  transform: rotate(225deg);
}

.toggle-accordion-button.closed::before {
  top: 16px;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  .primary-button {
    width: 100%;
  }
}

/* TABS MENU */

.menu-tabs {
  display: flex;
  overflow-x: auto;
}

.menu-tab-item {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.25rem 0.25rem;
  white-space: nowrap;
  cursor: pointer;

  position: relative;
}

.menu-tab-item.active-tab::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  border-bottom: 3px solid var(--red);
  border-radius: 16px 16px 0 0px;
}

.menu-row {
  border-bottom: 1px solid #DEDEDE;
  cursor: pointer;
}

.menu-row td {
  vertical-align: middle;
  padding: 0.5rem !important;
}

.menu-row td:nth-child(3) {
  font-weight: bold;
}

.tag-filter-search>div {
  display: flex;
}