header {
  display: flex;
  align-items: center;
  width: 100%;
}

header img {
  width: 7.5rem;
  border-radius: 6px;
}

header h2,
header p {
  margin: 0;
}

header p {
  color: gray;
}

.complementList {
  padding-left: 0;
}

.info-footer {
  position: absolute;
  bottom: 0;
}

.info-complementName {
  font-weight: bolder !important;
  font-size: 1.25rem;
  margin: 0;
}

div.input.bartenderInput {
  border-radius: 6px;
  border: 0 !important;
  box-shadow: none;
}

ul {
  padding: 0;
}

li {
  list-style: none !important;
}

.itemComplement:nth-child(odd) {
  background: var(--wm-gray-light-300);
  padding: 0.125rem 0;
}

.nav-link {
  border: 1px solid var(--bs-border-color);
  background-color: var(--primary);
  color: #FFFFFF;
}