.dialog.alert .dialog-actions { border-top: none !important; }

mat-dialog-actions{
    padding: 0!important;
}

li.button-push .button-package {
    background-color: red !important;
}

.red {
    background: #DB2829;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.red-invert {
    background: white;
    color: #DB2829;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #DB2829;
}

.button-icon {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 24px;
}

.minus-btn {
    color: gray;
    border: none;
}

.plus-btn {
    color: var(--red);
    border: none;
}

