<mat-dialog-content class="d-flex flex-column align-items-center justify-content-center text-center pb-3">
    <h4 class="p-2 fw-bold fs-4">Realizar impressão da {{ data.type === 'table' ? 'mesa' : 'comanda' }}?</h4>
</mat-dialog-content>
<mat-dialog-actions class="d-flex align-items-center justify-content-center p-2 gap-2">
    <button class="btn btn-danger" (click)="close()">Cancelar</button>
    <button class="btn btn-success" (click)="data.type === 'table' ? printTable() : printCommand(data.commandId)">Imprimir</button>
</mat-dialog-actions>