<div mat-dialog-title class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center gap-3">
    <fa-icon [icon]="faArrowLeft" style="cursor: pointer" (click)="close({})"></fa-icon>
    <h3 class="m-0 fs-5">Comandas</h3>
  </div>
</div>

<mat-dialog-content class="d-block flex-column align-items-center justify-content-center text-center pb-3 modal-dialog-scrollable">
  <table class="table table-striped table-hovered position-static">
    <thead>
      <tr>
        <th></th>
        <th>Cód.</th>
        <th>Nome</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <ng-container *ngFor="let command of commands" class="">
        <tr *ngIf="command.status" style="cursor: pointer" [ngClass]="!command.haveCarts() ? 'bg-warning bg-opacity-50 border border-warning' : ''">
          <td (click)="command.haveCarts() && printCommand(command)" style="cursor: pointer">
            <fa-icon class="toggle-footer" [icon]="faPrint"></fa-icon>
          </td>
          <td (click)="openCommandResume(command)">{{ command.code }}</td>
          <td (click)="openCommandResume(command)" style="word-break: break-word">{{ command.name }}</td>
          <td (click)="openCommandResume(command)">{{ command.getTotalValue('commandFee') | currency }}</td>
          <td class="col-1 text-end">
            <button class="btn btn-link" style="color: var(--wm-red-300)" (click)="$event.stopPropagation(); closeCommand(command)">Encerrar</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</mat-dialog-content>
