<div class="d-flex flex-column justify-content-between bg-5" [ngStyle]="{ height: '100%' }">
  <mat-dialog-content class="d-flex flex-column justify-content-center align-items-center text-center gap-3" style="padding: 1.5rem !important;">
    <app-loading *ngIf="loading" class="w-50" />
    <div class="p-3 rounded-3 opacity-5 bg-warning bg-opacity-50">
      <fa-icon [icon]="faTriangleExclamation" size="2x" class="text-warning" ></fa-icon>
    </div>
    <h3 class="fw-bold" style="color: #9D5425;">{{ translate.text().attention }}!</h3>
    <p class="text-capitalize">{{ translate.text().notification_permissions }}</p>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end" >
    <button class="btn btn-success flex-grow-1 flex-md-grow-0 px-3" (click)="requestPermission()" [disabled]="loading">OK</button>
  </mat-dialog-actions>
</div>