.drag-container h2 {
  min-height: 72px;
  display: flex;
  align-items: center;
}

.drag-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;

  background-color: white;
  border: 1px solid var(--wm-gray-light-300);

  font-size: 1.125rem;
}

.icon {
  position: absolute;
  top: 50%;
  z-index: 100;
  font-size: 2.5rem;
  transform: translate(-50%, -50%);
  background-color: var(--wm-white);
  color: var(--wm-red-300);
}

.vr {
  position: relative;
  opacity: 1; color: var(--wm-gray-300);
  margin: 0 2rem;
  .icon {
    left: -50%;
  }
}

.hr {
  position: relative;
  .icon {
    left: 50%;
  }
}

.drop-list-container {
  overflow-y: auto;
  max-height: 35vh;
}

@media screen and (max-width: 600px) {
  .drag-box {
    padding: 0 0 0 1.5rem;
  }
}