@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// $all-sizes : map-merge-multiple($h1-font-size, $h2-font-size, $h3-font-size, $h4-font-size, $h5-font-size, $h6-font-size, .75, .5 );

$font-sizes: (
  7: 0.85rem,
  8: 0.75rem,
  9: 0.5rem,
);

$utilities: map-merge(
  $utilities,
  (
    'fs':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'font-size'), 'values'),
              ($font-sizes)
            ),
        )
      ),
  )
);

@import 'bootstrap/scss/utilities/api';
