:root {
  --primary: #116DFC;
  --legend-color: #0E1133;
  --green: #00C100;
  --orange: #e78430;
  --red: #FF3355;
  --bartender-background: #F5F9FF;

  /* COLORS */

  --wm-white: #FFFFFF;
  --wm-black: #000000;
  --wm-onyx: #403440;

  /* RED */
  --wm-red-500: #FF0000;
  --wm-red-400: #DC3545;
  --wm-red-300: #FF3355;
  --wm-red-350: #FD3355;
  --wm-red-200: #E45350;
  --wm-red-100: #FFEAE8;

  /* GREEN */
  --wm-green-900: #218838;
  --wm-green-800: #219653;
  --wm-green-700: #28A745;
  --wm-green-600: #1DC121;
  --wm-green-500: #42CE5C;
  --wm-green-400: #43FD6D;
  --wm-green-300: #86C695;
  --wm-green-100: #FAFFFA;

  /* BLUE */
  --wm-blue-900: #0E1133;
  --wm-blue-700: #1A86D2;
  --wm-blue-600: #0069D9;
  --wm-blue-500: #147BFC;
  --wm-blue-400: #007BFF;
  --wm-blue-200: #DDF4FF;
  --wm-blue-100: #F5F9FF;

  /* DARK BLUE */
  --wm-dark-blue-900: #090A0C;
  --wm-dark-blue-700: #1B1E21;
  --wm-dark-blue-600: #212529;
  --wm-dark-blue-500: #2B2E36;

  /* YELLOW */
  --wm-yellow-500: #FFC107;

  /* GRAY */
  --wm-gray-900: #1E1E1E;
  --wm-gray-700: #353535;
  --wm-gray-600: #7070702E;
  --wm-gray-550: #808080;
  --wm-gray-500: #949AA2;
  --wm-gray-450: #949AA2;
  --wm-gray-400: #868D96;
  --wm-gray-350: #9C9FA2;
  --wm-gray-300: #B0B6BA;
  --wm-gray-250: #B7B7B7;
  --wm-gray-200: #B6B6B6;
  --wm-gray-150: #CED4DA;
  --wm-gray-100: #D3D8DD;

  /* GRAY LIGHT */
  --wm-gray-light-900: #E2E2E2;
  --wm-gray-light-800: #EBEBEB;
  --wm-gray-light-700: #DDE1E6;
  --wm-gray-light-600: #D4DAE0;
  --wm-gray-light-500: #E0E0E0;
  --wm-gray-light-450: #DEE2E6;
  --wm-gray-light-400: #E8EBEE;
  --wm-gray-light-350: #DFE3E6;
  --wm-gray-light-300: #E9ECEF;
  --wm-gray-light-200: #F5F5F5;
  --wm-gray-light-100: #F7F8FC;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./app/fonts/proximanova-regular-webfont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./app/fonts/proximanova-semibold-webfont.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(./app/fonts/proximanova-bold-webfont.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  margin-bottom: 100px;
  overscroll-behavior: contain;
}

html {
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* =============================TYPOGRAPHY */
h4.company {
  font-weight: 800;
}

p.subText {
  margin-top: -5px !important;
}

/* =============================COLORS */
.bg-1 {
  background-color: #fafafd;
}

/* =============================ALL */
a:not(href) {
  cursor: pointer;
}

#top-logo {
  z-index: 9;
}

#top-logo img {
  margin-bottom: -68px;
}

ul.no-bullets {
  list-style-type: none;
  line-height: 1.3;
  margin-top: -10px;
}

#infCompany .bd-black {
  padding: 2px;
}

.img-spotlight {
  width: 100px;
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
  align-self: flex-start;
}

.browsers {
  margin: 15px 40px
}

.dots {
  display: flex;
  position: relative;
}

.dots span {
  background: white;
  padding: 0 15px 0 0;
}

.dots::after {
  white-space: nowrap;
  overflow: hidden;
  direction: rtl;
  content: "";
  border-bottom: 1px solid #bebebe;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  z-index: -1;
}

.btn-small {
  min-width: 0 !important;
}

@media only screen and (max-width: 353px) {
  div.row.info-display {
    font-size: 0.65rem;
  }
}

@media only screen and (min-width: 375px) {
  .img-spotlight {
    width: 120px;
    height: 90px;
  }
}

@media only screen and (min-width: 768px) {
  .img-spotlight {
    width: 146px;
    height: 146px;
  }
}

/* @media only screen and (min-width: 992px) {
  #input_delivery_name {
    margin-top: 22px !important;
  }
} */

.painel {
  display: grid;
  border: 2px solid #ccc;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

/* SPOTLIGHT */
.price {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #2ed573;
}

.price-original {
  position: relative;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #717171;
  text-decoration: line-through;
  margin-left: 5px;
}

#spotlight-slider .card.image-header .card-footer {
  justify-content: none !important;
  border-top: none;
}

#spotlight-slider .card-header {
  padding: 7rem;
}

#cart-bar {
  bottom: 0;
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.dialog.shadow-on {
  min-height: 100vh;
}

.dialog-content {
  height: calc(100vh - 200px);
  padding: 12px 10px;
}

.dialog {
  width: 100%;
}

ul {
  margin: 0;
}

/* .dialog-box{
  padding-left: 24px;
  padding-right: 24px;
} */

/* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-icon {
  background: transparent !important;
  padding: 0;
  margin: 0;
  width: auto;
  min-width: auto;
}

.dialog-box li,
.dialog-box li p {
  font-size: 0.8rem;
}

.bar {
  padding: 12px 20px 10px;
  display: block;
  background: #f2f2f2;
  z-index: 20;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* .dialog-content {
  padding: 12px 0 50px 0;
  padding-bottom: 150px;
} */
.tally {
  line-height: 21px;
}

ul.inline-list.choice-dish li {
  width: 100%;
}

// .radio input[type="radio"]:checked~.check {
//   border-color: var(--wm-blue-400);
//   background-color: var(--wm-blue-400);
// }

ul.inline-list.choice-dish>li+li {
  border-top: 1px #dfdfdf solid;
}

.dialog.modal {
  overflow: auto;
}

.choice-dish .spinner,
.total-dish .spinner {
  width: 105px;
}

#spotlight .details h5,
#spotlight-slider h5 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0;
  margin-top: 0;
}

#spotlight .details p,
#spotlight-slider p {
  font-size: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #717171;
  word-break: break-word;
  margin-top: 5px;
}


.addBtn {
  width: 200px;
  margin-top: -8px;
}

.button.square.closer.js-dialog-close {
  display: block !important;
  background-color: transparent !important;
}

.title-category {
  font-weight: 500;
  font-size: 1.125rem;
}

.dialog-content {
  overflow: scroll;
}

/* ===========================SCROLLING MENU */
div.scrollmenu {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: gray;
  text-align: center;
  padding: 0 14px 5px 14px;
  text-decoration: none;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}

.scrollmenu {
  scrollbar-width: none;
}


.product-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 15px;
  border: 1px solid #dfdfdf;
  height: 100%;
  border-radius: 5px;
  transition: border 600ms;
}

.product-details:hover {
  bottom: 4px;
  border-color: #777;
}

.product-details .img-dish {
  width: 145px;
  height: 145px;
}

.product-details img {
  width: 145px;
  height: 145px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
}

.product-details span.details {
  width: 100%;
}

#spotlight a.product-details span.details {
  padding-right: 5px;
}

.text-leader2 {
  font-size: 1rem;
}

.button-100 {
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .dialog {
    max-width: 100% !important;
    left: 0 !important;
    top: 0 !important;
  }

  a.product-details {
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0 !important;
  }

  #spotlight [class*="cell-"],
  [class*="col-"] {
    padding: 0;
  }

  #spotlight .details h5,
  #spotlight-slider h5 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  #spotlight .details p,
  #spotlight-slider p {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    color: #717171;
    word-break: break-word;
    margin-top: 5px;
  }

  .product-details .img-dish {
    width: 120px;
    height: 90px;
  }

  #spotlight a.product-details img {
    width: 120px;
    height: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    pointer-events: none;
  }
}

html,
body {
  height: 100%;
  font-family: "Proxima Nova", sans-serif;
}

body {
  margin: 0;
}

.mat-dialog-container {
  background-color: var(--wm-white);
  overflow: hidden !important;
}

.mat-dialog-content {
  /* max-height: 75vh !important; */
  padding: 0 12px !important;
}

.mat-dialog-actions {
  min-height: 0 !important;
  margin: 0 -15px;
}

// .radio::after {
//   background-color: var(--wm-blue-400);
// }

// input[type='radio']:after {
//   width: 20px;
//   height: 20px;
//   border-radius: 35px;
//   top: -2px;
//   left: -4px;
//   position: relative;
//   background-color: #fff;
//   content: '';
//   display: inline-block;
//   visibility: visible;
//   border: 2px solid #d1d3d1;
// }

// input[type='radio']:checked:after {
//   width: 20px;
//   height: 20px;
//   border-radius: 15px;
//   top: -2px;
//   left: -4px;
//   position: relative;
//   background-color: #fff;
//   content: '';
//   display: inline-block;
//   visibility: visible;
//   border: 7px solid var(--wm-blue-400);
// }

div.dialog-content {
  overflow: auto !important;
}

.dialog.alert .dialog-actions {
  border-top: none !important;
}

html body .pac-container {
  background-color: #fff;
  position: fixed !important;
  z-index: 1000;
  top: 138px !important;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

.pac-item {
  cursor: default;
  padding: 0 4px;
  text-overflow: clip;
  overflow: auto;
  white-space: normal !important;
  line-height: 30px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  font-size: 11px;
  color: #555;
}

.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .08);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.item.active {
  border-bottom: 2px solid red;
}

.row {
  margin-right: 0;
}

#qr-code-modal {
  padding: 0 !important;
}

.overlay.for-calendar-picker {
  display: none !important;
}

@media screen and (max-width: 425px) {
  #mat-dialog-confirm-date {
    width: 100% !important;
  }

  .mat-dialog-confirm-date {
    width: 100% !important;
    background-color: red;
  }
}

/* BARTENDERS */
.mat-tab-label-container::-webkit-scrollbar {
  width: 100%;
  opacity: 0;
}

.mat-ink-bar {
  top: 36px;
}

/* div.input {
  border-radius: 6px;
} */

div.input.bartenderInput {
  border-radius: 6px;
  border: 0 !important;
  box-shadow: none;
}

div.mat-tab-labels {
  height: 2.375rem;
}

.bartender-footer-accordion span.mat-expansion-indicator::after {
  width: 14px;
  height: 14px;
  border-color: #000000;
  transform: rotate(225deg);
  border-width: 0 3px 3px 0;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

#headerContainer .mat-tab-label-content {
  font-size: 1rem !important;
}

.no-scroll-bar::-webkit-scrollbar {
  opacity: 0;
  visibility: hidden;
  width: 0;
}

.bartender-menu-table {
  margin-bottom: 140px !important;
  box-shadow: none !important;
}

#selectedTable .mat-tab-list {
  transform: none;
}

@media (max-width: 599px) {
  #selectedTable .mat-tab-label {
    min-width: 100px;
  }
}

/* ENCOMENDAS */

#calendar_choice input {
  border-radius: 6px;
}

div.calendar.compact {
  width: inherit !important;
}

.calendar-content .day,
.calendar-content .week-number {
  width: calc(100%/7) !important;
}

.calendar-content .days .days-row {
  margin-bottom: 3px !important;
  gap: 3px !important;
}

* {
  font-family: "Proxima Nova", sans-serif !important;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.form-check-input {
  margin: 0;
}

/* BACKDROP */

.mat-drawer-backdrop {
  position: fixed !important;
  inset: 0 !important;
  width: 100% !important;
}

/* DRAG */

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--wm-gray-light-300);
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* TOAST */

ngb-toast.pos {
  position: fixed;
  
  margin: 0.5rem;

  &.top-left {
    top: 0;
    left: 0;
  }

  &.top-center {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.top-right {
    top: 0;
    right: 0;
  }

  &.middle-left {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  &.middle-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  &.middle-right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  &.bottom-left {
    bottom: 0;
    left: 0;
  }

  &.bottom-center {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.bottom-right {
    bottom: 0;
    right: 0;
  }
}

ngb-toast .toast-header .close {
  border: 0;
  background-color: transparent;
  color: inherit;
}

// DATEPICKER

ngb-datepicker {
  width: 100%;

  .ngb-dp-month {
    width: 100%;
  }

  .ngb-dp-weekday,
  .ngb-dp-day {
    flex: 1
  }
  
  .ngb-dp-navigation-select {
    gap: 0.5rem;
  }
}
