<h1>Recuperação de Senha de Acesso</h1>
<p>Olá {{ user.name }}, esqueceu sua senha de acesso? Sem problemas é só clicar <a href="https://next.whatsmenu.com.br/auth/recovery/?token={{user.controls.recovery.token}}">aqui</a></p>
