@layout('inner/layout')
@section('content')
<a class="ui button blue botLEFT hide-for-large">Menu</a>
<div id="settings-content" style="margin: 24px auto;">
</div>
<div id="domains-content" style="margin: 24px auto;">
</div>

<script type="text/babel" src="/react/domains.jsx">
</script>
@endsection
