<app-loading *ngIf="!cart" />
<main *ngIf="cart">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-2">
          <div class="d-flex flex-row align-items-center">
            <div class="pe-2" (click)="goBack()" style="cursor: pointer">
              <i class="fs-1 color-theme text-decoration-none"> <fa-icon id="arrowLeft" [icon]="faArrowLeft"></fa-icon></i>
            </div>
            <div>
              <h5 class="text-capitalize ps-2 mb-0">{{ translate.text().order_status }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="py-4 mt-n6 order-status">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex py-2 align-items-center border-bottom">
            <div class="">
              <h3 class="fw-bold mb-0 pb-0 text-capitalize">{{ translate.text().order }} {{ cart.code }}</h3>
              <div class="small mt-n2">{{ formatDate(cart.created_at) }}</div>
              <!-- <div *ngIf="cart.statusPayment !== 'paid'">
                <img src="data:image/jpeg;base64, {{ pixInvoice.qrCode }}" alt="QR Code Pix" style="width: 125px; aspect-ratio: 1/1" />
              </div> -->
            </div>
            <div class="ms-auto col-auto" [ngSwitch]="cart?.status">
              <span class="badge text-bg-success text-capitalize" *ngSwitchCase="'production'">{{ translate.text().in_preparation }}</span>
              <span class="badge text-bg-success" *ngSwitchCase="'transport'">{{
                cart.addressId ? translate.text().out_for_delivery : translate.text().waiting_for_pickup
              }}</span>
              <span class="badge text-bg-success text-capitalize" *ngSwitchCase="'canceled'">{{ translate.text().canceled }}</span>
              <!-- <span class="badge text-bg-success" *ngSwitchCase="'completed'">{{cart.addressId ? "Entregue" : "Retirado"}}</span> -->
              <span class="text-capitalize badge text-bg-success" *ngSwitchDefault> - {{ translate.text().order_received }}</span>
            </div>
          </div>
          <div class="px-3 mb-2 mt-2">
            <ng-container *ngIf="cart.statusPayment !== 'offline'">
              <ng-container
                *ngTemplateOutlet="loading; context: { title: translate.text().pending_payment, status: processStatus(0) }"
              ></ng-container>
            </ng-container>

            <ng-container *ngTemplateOutlet="loading; context: { title: translate.text().order_approved, status: processStatus(1) }"></ng-container>
            <ng-container
              *ngTemplateOutlet="loading; context: { title: translate.text().order_preparation, status: processStatus(2) }"
            ></ng-container>
            <ng-container
              *ngTemplateOutlet="
                loading;
                context: {
                  title: cart.addressId ? translate.text().order_out_for_delivery : translate.text().order_ready_for_pickup,
                  status: processStatus(3),
                  no_line: cart.status !== 'canceled'
                }
              "
            ></ng-container>
            <ng-container *ngIf="cart.status === 'canceled'">
              <ng-container
                *ngTemplateOutlet="loading; context: { title: translate.text().order_canceled, no_line: true, status: processStatus(4) }"
              ></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!cart.controls.whatsApp?.alreadySent && cart.status === null" class="container">
      <div class="d-flex justify-content-end col-12 mb-3">
        <a
          class="btn btn-success flex-grow-1 flex-md-grow-0 d-flex gap-2 align-items-center justify-content-center fw-bold"
          [href]="sendMessage()"
          (click)="setAlreadySent()"
          target="_blank"
        >
          <fa-icon [icon]="faWhatsApp" [size]="'2x'" class="text-white"></fa-icon>
          <span class="text-capitalize">{{ translate.text().send_order_whatsapp }}</span>
        </a>
      </div>
    </div>
  </section>
  <!-- PAGAMENTO -->
  <section class="payment-info pb-4">
    <div
      class="container d-flex align-items-center"
      *ngIf="cart.statusPayment === 'pending' && (!cart.client?.secretNumber || cart.client?.secretNumber?.length < 11)"
    >
      <div class="m-auto d-flex flex-column align-items-center">
        <label for="pix-cpf-input" class="mb-1 fw-semibold form-label">{{ translate.text().enter_cpf_generate_pix }}</label>
        <input
          type="text"
          inputmode="numeric"
          class="form-control"
          [placeholder]="translate.text().ssn_model_comment"
          id="pix-cpf-input"
          mask="000.000.000-00"
          [(ngModel)]="pixSecretNumber"
        />
        <p style="color: var(--wm-gray-550); font-size: 0.75rem">{{ translate.text().enter_a_valid_cpf }}</p>
        <button
          class="btn btn-primary w-100"
          [disabled]="pixSecretNumber.length < 11"
          (click)="this.cart.client.secretNumber = this.pixSecretNumber; sendQrCodePix({ regenerate: false })"
        >
          Gerar
        </button>
      </div>
    </div>
    <div class="container" *ngIf="cart.statusPayment === 'pending' && cart.client?.secretNumber">
      <div class="row">
        <div class="col-12">
          <div class="d-flex py-2 align-items-center border-bottom">
            <div class="">
              <h5>Pagamento</h5>
            </div>
          </div>
          <!-- Renderização do QR Code -->
          <ng-container *ngIf="pixInvoice.qrCode && !pixRegeneration">
            <div class="d-flex align-items-center flex-column">
              <p class="fs-5 fw-semibold">{{ translate.text().order_pending_payment }}</p>
              <div>
                <app-countdown [minutes]="5" [radius]="45"></app-countdown>
              </div>
              <img src="data:image/jpeg;base64, {{ pixInvoice.qrCode }}" alt="QR Code Pix" style="width: 125px; aspect-ratio: 1/1" />

              <label for="pixCopyPaste" class="form-label" style="color: var(--wm-gray-550)">Pix Copia e Cola</label>
              <div class="input-group mb-3">
                <input class="form-control" id="pixCopyPaste" [(ngModel)]="pixInvoice.copyPaste" readonly />
              </div>
              <button
                id="copy-paste"
                class="btn btn-primary"
                type="button"
                #t="ngbTooltip"
                triggers="manual"
                [ngbTooltip]="'Chave PIX copiada!'"
                (click)="copyToClipboardOnline()"
              >
                Copiar Código
                <fa-icon [icon]="faPaste"></fa-icon>
              </button>
            </div>
          </ng-container>

          <!-- Renderização do botão para gerar novo QR Code -->
          <div *ngIf="pixRegeneration" class="h-100 d-flex flex-column justify-content-center align-items-center">
            <fa-icon [icon]="faRotate" role="button" (click)="sendQrCodePix({ regenerate: false })" size="4x" class="text-center"></fa-icon>
            <p class="text-center mt-4">{{ translate.text().pix_key_expired }}</p>
          </div>

          <!-- Conteúdo comum -->
          <p *ngIf="!pixRegeneration" class="text-center text-black fw-semibold mx-5" style="font-size: 0.875rem">
            {{ translate.text().paste_this_code_your_bank }}
          </p>
          <button
            *ngIf="!pixRegeneration"
            class="d-flex justify-content-center mx-auto col-12 col-md-7 btn btn-danger mt-auto p-2 fw-bold"
            (click)="verifyPix()"
          >
            {{ translate.text().verify_pix_payment }}
          </button>

          <ul class="list-group list-group-flush">
            <!-- <li *ngIf="!pixRegeneration" class="list-group-item d-flex justify-content-between align-items-center px-2">Formas de pagamento</li> -->
          </ul>
          <div *ngIf="!pixRegeneration" class="bg-white px-3 pb-3 pt-2">
            <ul class="list-unstyled" *ngIf="cart.formsPayment">
              <li *ngFor="let formPayment of returnAllFormsPayment()">
                {{ translate.text()[formPayment.payment] }}{{ formPayment.flag ? ' - ' + formPayment.flag.name + ' - ' : ' - '
                }}{{ formPayment.value | currency }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-8 col-md-10">
              <h6 class="text-uppercase">{{ translate.text().items }}</h6>
            </div>
            <div class="col-4 col-md-2">
              <h6 class="text-uppercase">{{ translate.text().price }}</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="list-group list-group-flush basket">
                <li class="list-group-item border-top border-bottom" *ngFor="let product of cart.itens">
                  <div class="d-flex">
                    <div class="py-2 flex-fill">
                      <div class="row">
                        <div class="col-8 col-md-10">
                          <b>{{ product.quantity }}x • {{ product.name }}</b>
                        </div>
                        <div class="col-4 col-md-2">
                          <b>{{ product.details.value || 0 | currency }}</b>
                        </div>
                      </div>
                      <div *ngIf="product.details.complements.length">
                        <div *ngFor="let complement of product.details.complements">
                          <div class="row">
                            <b class="mb-0">{{ complement.name }}</b>
                          </div>
                          <div *ngFor="let item of complement.itens">
                            <div class="row">
                              <div class="col-8 col-md-10">
                                <span class="text-black-50 small">{{ item.quantity }}x • {{ item.name }}</span>
                              </div>
                              <div class="col-4 col-md-2">
                                <span class="text-black-50 small">+ {{ item.value && item.value | currency }}</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <span class="text-black-50 small">OBS: {{ product.obs }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-8 col-md-10 mt-2">
              <span class="text-black-50 small text-capitalize">{{ translate.text().order }}</span>
            </div>
            <div class="col-4 col-md-2 mt-2">
              <span class="text-black-50 small">+ {{ currencyNoSymbol(cart.total || 0) }}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-10">
              <span class="text-black-50 small text-capitalize">{{ translate.text().delivery }}</span>
            </div>
            <div class="col-4 col-md-2">
              <span
                class="text-black-50 small"
                *ngIf="(cart.cupom?.type !== 'freight' && cart.taxDelivery > 0) || taxDelivery() === translate.text().to_consult"
              >
                {{ taxDelivery() }}
              </span>
              <span
                class="text-black-50 small text-capitalize"
                *ngIf="(cart.cupom && cart.cupom.type === 'freight') || (cart.taxDelivery !== null && cart.taxDelivery <= 0)"
                >{{ translate.text().free }}</span
              >
            </div>
          </div>
          <div class="row" *ngIf="cart.formsPayment[0].addon.status">
            <div class="col-8 col-md-10 mt-1">
              <span class="text-black-50 small"
                >{{ cart.formsPayment[0].addon.type === 'discount' ? translate.text().disc : translate.text().fee_comment }}
                {{ cart.formsPayment[0].label }}</span
              >
            </div>

            <div class="col-4 col-md-2 mt-1">
              <span class="text-black-50 small">
                <span>{{ cart.formsPayment[0].addon.type === 'discount' ? '-' : '+' }}</span>

                {{ currencyNoSymbol(calFinalValueAddon() || 0) }}</span
              >
            </div>
          </div>
          <div class="row" *ngIf="cart.cupom && cart.cupom.type !== 'freight'">
            <div class="col-8 col-md-10">
              <span class="text-black-50 small text-capitalize">{{ translate.text().coupon }}</span>
            </div>
            <div class="col-4 col-md-2">
              <span class="text-black-50 small">- {{ currencyNoSymbol(cartService.cupomValue(cart.cupom, cart)) }}</span>
            </div>
          </div>
          <div class="row" *ngIf="cashback()">
            <div class="col-8 col-md-10">
              <span class="text-black-50 small">{{ cashback().label }}</span>
            </div>
            <div class="col-4 col-md-2">
              <span class="text-black-50 small">- {{ currencyNoSymbol(cashback().value) }}</span>
            </div>
          </div>
          <div class="row mt-2" *ngIf="!!cart">
            <div class="col-8 col-md-10"><b class="fs-4 text-red">TOTAL</b></div>
            <div class="col-4 col-md-2">
              <b class="fs-4 text-red">{{ cartService.totalCartFinalValue({ cartRequest: cart, formPayment: cart.formsPayment[0] }) | currency }}</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ENTREGA -->
  <section class="pb-4">
    <div class="container">
      <div class="row mt-3">
        <div class="col-12">
          <div class="d-flex py-2 align-items-center border-bottom">
            <div class="">
              <h5 class="text-capitalize">{{ translate.text().delivery }}</h5>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center px-2 text-capitalize">
              {{ cart.addressId ? translate.text().delivery_address : translate.text().pickup_only }}
            </li>
          </ul>
          <div class="bg-white px-3 pb-3 pt-2">
            <ul class="list-unstyled" *ngIf="cart.addressId">
              <li>{{ cart.address.street }}, {{ cart.address.number }} • {{ cart.address.complement }}</li>
              <li>{{ cart.address.neighborhood }} • {{ cart.address.city }} / {{ cart.address.uf }}</li>
              <li *ngIf="cart.obs"><span class="fw-bold">Obs.:</span> {{ cart.address.reference }}</li>
            </ul>
            <div class="form-group mt-1" *ngIf="cart.client?.secretNumber">
              {{ translate.text().ssn_model_comment }}: {{ formatCPF(cart.client?.secretNumber) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<ng-template #loading let-title="title" let-no_line="no_line" let-status="status">
  <div class="status-steps">
    <!-- atual | pendente -->
    <div class="status-line" [ngClass]="status.line" *ngIf="!no_line"></div>
    <!-- concluido | cancelado | pendente -->
    <div class="status-point" [ngClass]="status.pointer">
      <!-- pendente -->
      <div class="status-text" [ngClass]="status.text">
        <span class="text-capitalize"> - {{ title }}</span>
      </div>
    </div>
  </div>
</ng-template>
