:root {
  --color-text: #5f7d95;
  --color-invert: #fff;
  --color-heading: #374957;
  --color-theme: #ff4757;
  --color-red: #f35;
  --color-green: #4cd137;
  --bg-1: #fff;
  --bg-2: #f8f8f8;
  --bg-3: #17202a;
  --bg-theme: #ff4757;
  --bg-5: #fafafd;
}

@font-face {
  font-family: 'Proxima Nova';
  //src: url(../font/proximanova-regular-webfont.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  //src: url(../font/proximanova-semibold-webfont.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  //src: url(../font/proximanova-bold-webfont.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--bg-2);
  font-family: 'Proxima Nova', 'Verdana', 'Avenir Next';
  font-size: 18px;
  color: var(--color-text);
  line-height: 1.66;
  margin-bottom: 64px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Proxima Nova', 'Verdana', 'Avenir Next';
  color: var(--color-heading);
  line-height: 1.66;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--bg-2);
}

.order-status {
  background-color: var(--bg-2);
}

.payment-info {
  background-color: var(--bg-2);
}

.text-green {
  color: var(--color-green) !important;
}

.text-red {
  color: var(--color-red) !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.mt-n1 {
  margin-top: -0.25rem !important;
}

.mt-n2 {
  margin-top: -0.5rem !important;
}

.mt-n3 {
  margin-top: -0.75rem !important;
}

.mt-n4 {
  margin-top: -1rem !important;
}

.mt-n5 {
  margin-top: -1.25rem !important;
}

.mt-n6 {
  margin-top: -1.5rem !important;
}

.mt-n7 {
  margin-top: -1.75rem !important;
}

/*
################
                BACKGROUND'S AND COLORS
################
*/

.bg-1 {
  background-color: var(--bg-1);
}

.bg-2 {
  background-color: var(--bg-2);
}

.bg-3 {
  background-color: var(--bg-3);
}

.bg-4 {
  background-color: var(--bg-4);
}

.bg-5 {
  background-color: var(--bg-5);
}

.bg-theme {
  background-color: var(--bg-theme);
}

:is(.bg-3, .bg-theme) :is(p, h1, h2, h3, h4, h5, h6, .first, .category) {
  color: var(--color-invert);
}

.color-theme {
  color: var(--color-theme);
}

.text-bg-danger {
  background-color: #f35 !important;
}

.text-bg-success {
  background-color: #2ed573 !important;
}

.color-text {
  color: var(--color-text) !important;
}

/*
################
                FOR ALL
################
*/

a:not(href) {
  cursor: pointer;
}

.btn-success {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn-success:hover {
  background-color: #27ae60;
  border-color: #27ae60;
}

.back-arrow-font {
  font-size: 2rem;
}

#imgTop {
  min-height: 100px;
}

#imgTop img {
  max-height: 280px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

#infCompany {
  margin-top: -65px;
}

#companyOpen,
#companyOpen,
#companyClose,
#botMuted {
  padding: 1px 10px;
  font-size: 14px;
}

#companyOpen {
  border: 2px solid #2ed573;
  background-color: #ddffeb;
}

#companyClose {
  border: 1px solid #f35;
  background-color: rgb(255, 228, 233);
}

#botMuted {
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #3f3e3e;
}

.priceProduct {
  font-size: 1.2rem;
  color: #4cd137;
}

.img-dish {
  width: 400px;
  height: 146px;
}

.img-dish img {
  width: 146px;
  height: 146px;
}

.adjust-cover {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
}

.img-dishInternal {
  height: 70px;
}

.img-dishInternal img {
  width: 66px;
  height: 66px;
}

.adjust-coverInternal {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  pointer-events: none;
}

.multi-line-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.detailBanner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 30px;
}

footer .badge {
  padding: 0.3em 0.5em;
}

#title {
  background: rgb(236, 240, 241);
  background: -moz-linear-gradient(0deg, rgba(236, 240, 241, 1) 0%, rgba(246, 249, 255, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(236, 240, 241, 1) 0%, rgba(246, 249, 255, 1) 100%);
  background: linear-gradient(0deg, rgba(236, 240, 241, 1) 0%, rgba(246, 249, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #ecf0f1, endColorstr= #f6f9ff, GradientType=1);
  border-bottom: 1px solid #f35;
}

.optionTitle {
  font-weight: 500;
}

/*
################
                MENU
################
*/

.hr-nav-1 .nav-container {
  overflow: auto;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.hr-nav-1 .nav-item {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: #a6a5a5;
  margin-left: 1rem;
}

.hr-nav-1 .nav-item:first-child {
  margin-left: 0 !important;
}

.hr-nav-1 .nav-item:active,
.hr-nav-1 .nav-item:focus,
.hr-nav-1 .nav-item:target,
.hr-nav-1 .nav-item.active {
  color: #ea1d2c !important;
}

.hr-nav-1 .nav-item:active,
.hr-nav-1 .nav-item:focus,
.hr-nav-1 .nav-item:target,
.hr-nav-1 .nav-item.active {
  border-bottom: 2px solid #ea1d2c;
}

/*
################
                MODALS
################
*/

.modal.left .modal-dialog,
.modal.right .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* Left & Right */

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}

.modal.right.fade .modal-dialog {
  right: -500px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal.left .modal-content,
.modal.right .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
  border-radius: 0;
  border: none;
}

.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 300px;
}

.modal.left .modal-dialog.modal-lg,
.modal.right .modal-dialog.modal-lg {
  width: 800px;
}

.modal.left .modal-dialog.modal-xl,
.modal.right .modal-dialog.modal-xl {
  width: 1140px;
}

/* Top and Bottom */

.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.modal.top .modal-content,
.modal.bottom .modal-content {
  height: auto;
  overflow-y: auto;
}

.modal.top .modal-body,
.modal.bottom .modal-body {
  padding: 15px 15px;
}

/* Top */

.modal.top.fade .modal-dialog {
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.top.fade.show .modal-dialog {
  top: 0;
}

.modal.top .modal-content {
  border-radius: 0 0 20px 20px;
}

/* Bottom */

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}

.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}

.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}

.modal.bottom .modal-content {
  border-radius: 20px 20px 0 0;
}

/* Full Screen */

.modal.full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.modal.full .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}

/* Footer */

.modal-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 0;
}

/* XS */

.modal.left.xs .modal-body,
.modal.right.xs .modal-body {
  padding: 15px;
}

@media (max-width: 575.98px) {
  .modal-fullscreen {
    padding: 0 !important;
  }
  .modal-fullscreen .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen .modal-body {
    overflow-y: auto;
  }
}

@media (max-width: 767.98px) {
  .modal-fullscreen-sm {
    padding: 0 !important;
  }
  .modal-fullscreen-sm .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm .modal-body {
    overflow-y: auto;
  }
}

@media (max-width: 991.98px) {
  .modal-fullscreen-md {
    padding: 0 !important;
  }
  .modal-fullscreen-md .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md .modal-body {
    overflow-y: auto;
  }
}

@media (max-width: 1199.98px) {
  .modal-fullscreen-lg {
    padding: 0 !important;
  }
  .modal-fullscreen-lg .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg .modal-body {
    overflow-y: auto;
  }
}

.modal-fullscreen-xl {
  padding: 0 !important;
}

.modal-fullscreen-xl .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modal-fullscreen-xl .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modal-fullscreen-xl .modal-body {
  overflow-y: auto;
}

/*
################
                VISIBILITY
################
*/

/* Mobile */

@media only screen and (max-width: 767px) {
  [class*='mobile hidden'],
  [class*='tablet only']:not(.mobile),
  [class*='computer only']:not(.mobile),
  [class*='large screen only']:not(.mobile),
  [class*='widescreen only']:not(.mobile),
  [class*='or lower hidden'] {
    display: none !important;
  }
  body {
    margin-bottom: 64px;
  }
  .center-mobile {
    text-align: center !important;
    margin: 0 auto;
    position: relative;
    display: block;
  }
  footer {
    font-size: 14px;
  }
  .mobile-align-items-center {
    align-items: center !important;
  }
  #imgTop {
    min-height: 70px;
  }
  #imgTop img {
    max-height: 100px;
  }
  #infCompany {
    margin-top: -10px;
  }
  #infCompany #logo img {
    width: 80px;
  }
  #infCompany {
    margin-top: -65px;
  }
  .input-group.searchProduct .input-group-text {
    height: 31px;
  }
  .input-group.searchProduct .form-control {
    height: 30px;
  }
  .img-dish {
    height: 90px !important;
  }
  .img-dish img {
    width: 120px !important;
    height: 90px !important;
  }
  .adjust-cover {
    width: 120px !important;
    height: 90px !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    pointer-events: none;
  }
  .img-dishInternal {
    height: 74px;
  }
  .img-dishInternal img {
    width: 80px;
    height: 100px;
  }
  .adjust-coverInternal {
    width: 68px !important;
    height: 68px !important;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
    pointer-events: none;
  }
  .titleProduct {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  p.descrProduct {
    font-size: 0.75rem !important;
    font-weight: 500 !important;
    margin-bottom: 25px !important;
  }
  .priceProduct {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
  .vitrine .card {
    border: none !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #dee2e6 !important;
  }
  .detailBanner {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 30px;
  }
}

/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*='mobile only']:not(.tablet),
  [class*='tablet hidden'],
  [class*='computer only']:not(.tablet),
  [class*='large screen only']:not(.tablet),
  [class*='widescreen only']:not(.tablet),
  [class*='or lower hidden']:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*='mobile only']:not(.computer),
  [class*='tablet only']:not(.computer),
  [class*='computer hidden'],
  [class*='large screen only']:not(.computer),
  [class*='widescreen only']:not(.computer),
  [class*='or lower hidden']:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*='mobile only']:not([class*='large screen']),
  [class*='tablet only']:not([class*='large screen']),
  [class*='computer only']:not([class*='large screen']),
  [class*='large screen hidden'],
  [class*='widescreen only']:not([class*='large screen']),
  [class*='or lower hidden']:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {
  [class*='mobile only']:not([class*='widescreen']),
  [class*='tablet only']:not([class*='widescreen']),
  [class*='computer only']:not([class*='widescreen']),
  [class*='large screen only']:not([class*='widescreen']),
  [class*='widescreen hidden'],
  [class*='widescreen or lower hidden'] {
    display: none !important;
  }
}

ul.list-group.list-group-flush.basket .list-group-item {
  border: none;
  padding: 0.3rem 0;
}

/* Product Quantity */

.quantity input,
.quantityFooter input {
  /*-webkit-appearance: none;*/
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

.quantityFooter button[class*='btn'] {
  background-color: #ea1d2c;
  border: none;
  cursor: pointer;
}

.quantity button[class*='btn'] {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.quantity button[class*='btn'] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-left: -7px;
}

.quantityFooter button[class*='btn'] {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}

/*.quantity button.disable[class*=btn],*/

.quantityFooter button.disable[class*='btn'] {
  background-color: #bdc3c7;
  border: none;
  cursor: pointer;
}

.quantity button.disable[class*='btn'] {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.quantityFooter button.disable[class*='btn'] {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}

/*.quantity button.plus-btn,
.quantity button.minus-btn,*/

.quantityFooter button.plus-btn,
.quantityFooter button.minus-btn {
  color: #fff;
}

.quantity button:focus,
.quantity input:focus,
.quantityFooter button:focus,
.quantityFooter input:focus {
  outline: 0;
}

.quantity span {
  font-size: 14px;
}

.quantity .svg-inline--fa {
  font-size: 12px;
  margin-top: -7px;
  margin-left: -3px;
  vertical-align: 1px;
}

.list-group-item {
  padding: 0.75rem 0;
}

.unitPrice {
  font-size: 14px;
}

.form-check.optionChoice {
  padding-left: 0;
}

/*********************************RADIO AND CHECKBOX*/

.form-check-input.checkCuston,
.form-check-input.radioCuston {
  width: 20px;
  height: 20px;
  margin-left: 1px;
}

.status {
  position: relative;
  margin: 20px 0;
}

@keyframes status-loading {
  0% {
    background-color: #4cd13700;
  }
  100% {
    background-color: #4cd137;
  }
}

.status-line {
  height: 50px;
  width: 2px;
  background-color: #4cd137;
}

.status-line.current {
  animation-duration: 2s;
  animation-name: status-loading;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.status-line.completed {
  background-color: #4cd137;
}

.status-line.pending {
  background: transparent;
  border: 0.5px solid #b4b4b4;
}

.status-point {
  position: absolute;
  background: #4cd137;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: -7px;
  top: 0;
}

.status-point.pending {
  background: white;
  border: 1px solid #a7a7a7;
}

.status-point.canceled {
  position: absolute;
  background: #ff4757;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: -7px;
}

.status-point.completed {
  position: absolute;
  background: #4cd137;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: -7px;
}

.status-text {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 500;
  color: 'black';
  width: 300px;
}

.status-text.pending {
  color: var(--color-text);
}

.status-steps {
  display: flex;
  align-items: center;
  position: relative;
}
