
  <div class="ui warning message">
    <i class="close icon"></i>
    <div class="header">
      Atenção!
    </div>
    <p>
      Em virtude de um treinamento interno com todos os funcionários, excepcionalmente hoje dia 28/05 nosso horário de atendimento será das 9h às 14h.
    </p>
  </div>

