@media (min-width: 700px) {
  :host {
    height: 80vh !important;
  }
}

:host {
  height: var(--modal-date-height);
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  flex-grow: 1;
}

.dialog-content {
  position: relative;
  box-sizing: border-box;
}

.header-modal-close {
  display: flex;
  flex-wrap: wrap;
}

.dialog-close {
  /* position: absolute;
    top: 10px;
    left: 0 ; */
  background: unset;
  border: unset;
  margin-right: 10px;
}

.dialog-profile-obs {
  margin-top: 15px;
  border: 1px solid rgb(221, 221, 221);
  padding: 5px;
  box-sizing: border-box;
}

.dialog-profile-obs h3 {
  text-align: center;
}

.dialog-profile-obs ul {
  list-style-position: inside;
}

.dialog-hour-content {
  margin-top: 15px;
}

.finish_container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.button_finish {
  width: 150px;
  margin: 0 auto;
}

.button-link {
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  color: green;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05px;
}
