<div mat-dialog-title class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center gap-3">
    <!-- <fa-icon [icon]="faArrowLeft" style="cursor: pointer;" (click)="close()"></fa-icon> -->
    <h3 class="m-1 fs-5">Clientes</h3>
  </div>
</div>
<mat-dialog-content class="d-flex flex-column justify-content-start">
  <div class="table-responsive pe-3">
    <table class="table table-hover table-striped mb-0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefone</th>
          <th className="d-none">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of data.clients" style="cursor: pointer;" (click)="selectClient(client)">
          <td>{{ client.name }}</td>
          <td>{{ client.whatsapp }}</td>
          <td>{{ client.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-dialog-content>