<div mat-dialog-title class="d-flex align-items-center justify-content-between p-2" style="margin: -24px">
  <div
    class="d-flex align-items-center gap-3"
    style="cursor: pointer"
    (click)="close()"
    [ngStyle]="{ visibility: haveOpenedCashier() ? 'visible' : 'hidden' }"
  >
    <fa-icon [icon]="faArrowLeft" class="text-gray"></fa-icon>
    <h3 class="m-0 fs-5">Fazer Pedido</h3>
  </div>
  <p class="fs-5">Usuário: {{ context.activeBartender?.name }}</p>
</div>
<mat-dialog-content
  style="min-height: 84%"
  *ngIf="!context.activeCashier"
  class="content d-flex flex-column align-items-center justify-content-center p-0"
>
  <form (submit)="openCashierAPI($event)" class="open-cashier">
    <p>PDV WhatsMenu</p>
    <fa-icon [icon]="faCashRegister" style="font-size: 5rem"></fa-icon>
    <p style="font-size: 2rem">Abrir Caixa</p>
    <p style="font-size: 1rem">Saldo Inicial R$</p>
    <input
      class="form-control text-center"
      type="number"
      placeholder="0,00"
      [(ngModel)]="initialValue"
      name="initialValue"
      style="border: 1px solid var(--wm-gray-light-500); color: var(--wm-gray-400); max-width: 100%; width: 20rem"
    />

    <button class="btn btn-primary d-flex align-items-center justify-content-center gap-2 w-100" type="submit" #openCashierSubmitButton>
      <fa-icon [icon]="faLockOpen"></fa-icon>
      Abrir Caixa
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-content
  style="min-height: 84%; overflow: initial"
  *ngIf="context.activeCashier"
  class="content d-flex flex-column flex-md-row align-items-start p-0"
>
  <div *ngIf="context.activeCashier" class="cashier-content flex-column flex-md-row">
    <div class="d-flex flex-column w-100 h-100 position-relative">
      <div class="d-flex justify-content-between px-2 w-100 my-2" style="font-size: 1rem">
        <p class="fw-bold">
          Status do Caixa:
          <span [ngStyle]="{ color: context.activeCashier.closed_at ? 'var(--wm-red-300)' : 'var(--wm-green-500)' }">{{
            context.activeCashier.closed_at ? 'Fechado' : 'Aberto'
          }}</span>
        </p>
        <p>{{ formatDate(context.activeCashier.created_at) }}</p>
      </div>
      <div class="w-100 d-flex text-center mb-3">
        <div class="d-flex flex-column gap-2 py-4" style="color: var(--wm-white); background-color: var(--wm-green-500); flex-basis: 50%">
          <p style="font-size: 1rem" class="mb-2">Entrada</p>
          <p class="price-highlight">{{ incomeTotal | currency }}</p>
        </div>
        <div class="d-flex flex-column gap-2 py-4" style="color: var(--wm-white); background-color: var(--wm-red-300); flex-basis: 50%">
          <p style="font-size: 1rem" class="mb-2">Saida</p>
          <p class="price-highlight">{{ outcomeTotal | currency }}</p>
        </div>
      </div>
      <table class="table table-striped table-hover mb-5">
        <thead style="border-bottom: 0px solid black">
          <tr>
            <th>Data</th>
            <th>Cód.</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody class="no-scroll-bar" style="padding-bottom: 8rem">
          <tr *ngFor="let transaction of getCashierList()">
            <td>{{ transaction.formatedDate }}</td>
            <td>{{ transaction.code ? transaction.code : '-' }}</td>
            <td>{{ transaction.clientName ? transaction.clientName : '-' }}</td>
            <td>
              <span *ngIf="transaction.finality" class="fw-bold">{{ transaction.finalityLabel }} </span>{{ transaction.obs }}
            </td>
            <td [ngStyle]="{ color: transaction.type === 'income' ? 'var(--wm-green-500)' : 'var(--wm-red-300)' }" style="color: var(--wm-green-500)">
              {{ transaction.type === 'income' ? '+' : '' }}{{ context.currency(transaction.value, true) }}
            </td>
          </tr>
        </tbody>
      </table>

      <div class="mt-auto">
        <details *ngIf="deviceWidth <= 600" class="mt-auto resume-accordion">
          <summary>
            <fa-icon class="toggle-footer" [icon]="faChevronUp"></fa-icon>
            <div class="w-100 my-2" id="resume-accordion-header">
              <div class="w-100 d-flex align-items-center justify-content-between p-3" style="background-color: var(--wm-gray-light-300)">
                <p class="fw-bold">Resumo</p>
                <div class="d-flex align-items-center justify-content-between gap-2" style="color: var(--wm-red-400)">
                  <fa-icon [icon]="faLock"></fa-icon>
                  <span class="fw-bold">Fechar Caixa</span>
                </div>
              </div>
            </div>
          </summary>
          <div id="resume-accordion-container">
            <app-cashier-resume [(cashier)]="context.activeCashier" [cashierList]="getCashierList()"></app-cashier-resume>
          </div>
        </details>
        <div
          class="d-flex align-items-center justify-content-between p-3"
          [ngClass]="deviceWidth > 600 ? 'position-absolute' : 'position-fixed'"
          style="border-top: 1px solid var(--wm-gray-600); background-color: var(--wm-white); bottom: 0; left: 0; right: 0"
        >
          <button *ngIf="!electronService.isElectron" class="input-container p-2" [useExistingCss]="true" printSectionId="print-resume" ngxPrint>
            <fa-icon style="color: var(--wm-gray-400); font-size: 1.5rem" [icon]="faPrint"></fa-icon>
            <!-- <fa-icon style="color: var(--wm-gray-300);" class="mx-2" [icon]="faChevronDown"></fa-icon> -->
          </button>
          <button
            *ngIf="electronService.isElectron"
            class="input-container p-2"
            (click)="printService.printCashierResume({ elementId: 'print-resume' })"
          >
            <fa-icon style="color: var(--wm-gray-400); font-size: 1.5rem" [icon]="faPrint"></fa-icon>
            <!-- <fa-icon style="color: var(--wm-gray-300);" class="mx-2" [icon]="faChevronDown"></fa-icon> -->
          </button>
          <div class="d-flex align-items-center gap-4">
            <button
              class="btn btn-link btn-sm text-black p-0 text-decoration-none d-flex flex-column align-items-center gap-2"
              [disabled]="context.activeCashier.closed_at"
              style="cursor: pointer"
              (click)="openTransaction({ type: 'income' })"
            >
              <fa-icon style="color: var(--wm-green-500); font-size: 1.5rem" [icon]="faPlusCircle"></fa-icon>
              <p>Entrada</p>
            </button>
            <button
              class="btn btn-link btn-sm text-black p-0 text-decoration-none d-flex flex-column align-items-center gap-2"
              [disabled]="context.activeCashier.closed_at"
              style="cursor: pointer"
              (click)="openTransaction({ type: 'outcome' })"
            >
              <fa-icon style="color: var(--wm-red-300); font-size: 1.5rem" [icon]="faMinusCircle"></fa-icon>
              <p>Saída</p>
            </button>
          </div>
        </div>
      </div>
    </div>
    <app-cashier-resume [(cashier)]="context.activeCashier" [cashierList]="getCashierList()" *ngIf="deviceWidth > 600"></app-cashier-resume>
  </div>
</mat-dialog-content>
