<div *ngIf="!isSafari()" class="bg-5">
  <div class="container p-0 h-100 d-flex flex-column gap-3" id="subtotal">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-4 pe-1 pe-lg-0">
            <span class="text-red fs-4"><b>TOTAL</b></span>
          </div>
          <div class="col-8 ps-3 ps-lg-0 d-flex justify-content-end" role="button" (click)="totalModal = !totalModal">
            <span class="text-red fs-4">
              <b *ngIf="!addonStatus()">
                {{ convertToNumber(cartService.totalCartFinalValue({ cartRequest,formPayment: firstFormPayment() })) | currency }}
                <fa-icon [icon]="chevronDown" class="color-theme" rotate="{{ totalModal ? '180' : '0' }}"></fa-icon>
              </b>
              <b *ngIf="addonStatus()">
                {{ convertToNumber(this.cartService.totalCartFinalValue({ cartRequest, formPayment: firstFormPayment() })) | currency }}
                <fa-icon [icon]="chevronDown" class="color-theme" rotate="{{ totalModal ? '180' : '0' }}"></fa-icon>
              </b>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="container" id="total" [ngStyle]="{ 'height': totalModal ? 'auto' : '0', 'overflow-y': 'hidden' }">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group list-group-flush basket">
            <li class="list-group-item border-top">
              <div class="d-flex align-items-center px-2">
                <div class="flex-grow-1">
                  <ul class="list-unstyled small">
                    <li class="text-black-50 d-flex justify-content-between">
                      <span class="text-capitalize">{{ translate.text().order }}:</span>
                      <div class="d-flex gap-2">
                        <span>+ {{ convertToNumber(cartRequest.total) }}</span>
                      </div>
                    </li>
                    <li
                      *ngIf="cartRequest.addressId != null && cartRequest.typeDelivery != null"
                      class="text-black-50 d-flex justify-content-between"
                    >
                      <span class="text-capitalize">{{ translate.text().delivery }}:</span>
                      <div class="d-flex gap-2">
                        <span>
                          {{
                            cartRequest.cupom?.type === 'freight' || cartRequest.taxDelivery === 0
                              ? translate.text().free_comment_up
                              : '+ ' + convertToNumber(cartRequest.taxDelivery)
                          }}
                        </span>
                      </div>
                    </li>
                    <li class="text-black-50 d-flex justify-content-between" *ngIf="addonStatus()">
                      <span
                        >{{ addonType() === '+' ? translate.text().fee_comment : translate.text().disc }}
                        {{ translate.text()[cartRequest.formsPayment[0].payment] }}:</span
                      >
                      <span>{{ addonType() }} {{ convertToNumber(addonValue()) }}</span>
                    </li>
                    <li class="text-black-50 d-flex justify-content-between" *ngIf="cartRequest.cupom && cartRequest.cupom.type !== 'freight'">
                      <span class="text-capitalize">{{ translate.text().coupon }}:</span>
                      <span>- {{ convertToNumber(calcCupom()) }}</span>
                    </li>
                    <li class="text-black-50 d-flex justify-content-between" *ngIf="cashback()">
                      <span>{{ cashback().label }}:</span>
                      <span
                        >-
                        {{ convertToNumber(cashback().value > this.cartService.totalCartFinalValue({ cartRequest, formPayment: firstFormPayment() }) ? this.cartService.totalCartFinalValue({ cartRequest, formPayment: firstFormPayment() }) : cashback().value) }}</span
                      >
                    </li>
                    <li class="fw-bold text-black-50 d-flex justify-content-between">
                      <span>TOTAL</span>
                      <span>{{ convertToNumber(cartService.totalCartFinalValue({ cartRequest,formPayment: firstFormPayment() })) }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
