<div class="ui modal video">
  <i class="close icon"></i>
  <div class="content">
    <div class="ui embed">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2WmFzInMfYM?start=16;autoplay=1;mute=0" frameborder="0" allow="accelerometer;encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
