<div class="d-flex flex-column align-items-center p-4 gap-3">
  <p class="text-center fw-bold" style="font-size: 1.25rem;">{{ translate.text().message_cvv_payment}} !</p>
  <img src="/assets/cvv-check.svg" alt="card cvv check" height="68px">
  <form id="cvv-form" class="d-flex flex-column align-items-center">
    <label for="cvv" class="form-label">CVV</label>
    <input id="cvv" type="text" class="form-control" name="cvv" [(ngModel)]="cvv">
  </form>
  <p style="color: var(--wm-gray-550);">{{ translate.text().code_back_of_your_card }}!</p>
  <button [disabled]="cvv.length < 3" form="cvv-form" type="submit" class="btn btn-danger mt-auto p-3 w-100 fw-bold" (click)="dismiss()">{{ translate.text().complete_payment }}</button>
  <!-- <button form="cvv-form" type="submit" class="btn bg-theme mt-auto p-3 w-100 fw-bold">Finalizar Pagamento</button> -->
</div>
