<div class="grid" *ngIf="!clientData">
  <div class="row flex-align-center" style="height: 100vh">
    <div class="cell flex-align-self-center text-center">
      <m4-activity class="text-capitalize" style="margin: 0 auto" activity-style="color" type="metro"></m4-activity>
      <br />
      {{ translate.text().loading }}
    </div>
  </div>
</div>
<!-- TOP LOGO -->
<div *ngIf="clientData">
  <!-- <section id="top-logo" [ngStyle]="{'background-color': Luminosity(clientData.color).background}">
        <div *ngIf="!clientData.background"></div>
        <img *ngIf="clientData.background" class="background-image" height="200px" width="100%"
            src="{{ clientData.background }}" alt="Background image">
        <div class="container">
            <div class="grid">
                <div class="row">
                    <div class="cell text-center">
                        <img height="100" style="border-radius: 10px;" src="{{ clientData.logo }}" alt="Logo image">
                    </div>
                </div>
            </div>
        </div>
        
    </section> -->

  <section id="imgTop" class="bg-theme position-relative">
    <picture>
      <source media="(min-width: 576px)" srcset="{{ clientData.background }}" />
      <img src="{{ clientData.background }}" alt="Cardápio" />
    </picture>
    <!-- <a id="companyOpen" class="text-decoration-none rounded position-absolute bottom-0 end-0 mb-3 me-3 shadow fw-600 text-green" style="z-index:9;" data-bs-toggle="modal" data-bs-target="#horario"><i class="bi bi-shop"></i> Aberto</a> -->
    <a
      id="companyClose"
      class="text-decoration-none rounded position-absolute bottom-0 end-0 mb-3 me-3 shadow fw-600 text-red"
      style="z-index: 9"
      data-bs-toggle="modal"
      data-bs-target="#horario"
      ><i class="bi bi-shop text-capitalize"></i> {{ translate.text().closed }}</a
    >
  </section>

  <!-- INFO COMPANY -->
  <section id="infCompany" class="bg-1 pt-10 pb-7-sm">
    <div class="container">
      <div class="grid">
        <div class="row flex-justify-center">
          <div class="cell text-center">
            <h4 class="mt-5 mb-6-minus-sm company" style="text-transform: uppercase">{{ clientData.name }}</h4>
            <p style="margin-top: -15px">
              <small style="white-space: pre-line">
                {{ clientData.description }}
                <div *ngIf="!clientData.description" style="padding: 10px"></div>
              </small>
            </p>
            <span (click)="openDisponibilityModal()" class="border bd-gray" style="border-radius: 16px; padding: 10px 20px"
              ><b style="text-transform: uppercase" [ngStyle]="{ color: verifyDisponibilityOpen().color }"
                >{{ verifyDisponibilityOpen().text }} <span class="mif-chevron-thin-down" style="color: #111; font-weight: bolder"></span></b
            ></span>
            <!-- <span *ngIf="taxDeliveryValue === 0"  class="border bd-black"><b>Entrega grátis</b></span> -->
            <!-- <span *ngIf="taxDeliveryValue === null"  class="border bd-black"><b>Entrega a consultar</b></span> -->
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="!tableButtons && api.getCookie('package') && !cookieP"
      [ngStyle]="{
        'margin': '15px auto',
        'border-bottom':
          '1px solid ' +
          (viewContentAlternate === 'delivery' ? Luminosity(clientData.color).background : Luminosity(clientData.color, true).background),
        'display': 'flex',
        'justify-content': 'center'
      }"
    >
      <button
        id="delivery"
        [class]="viewContentAlternate === 'delivery' ? 'button-tab active' : 'button-tab'"
        (click)="alternateButton($event)"
        [ngStyle]="
          viewContentAlternate === 'delivery'
            ? {
                'border-top': '1px solid ' + Luminosity(clientData.color).background,
                'border-left': '1px solid ' + Luminosity(clientData.color).background,
                'border-right': '1px solid ' + Luminosity(clientData.color).background
              }
            : {}
        "
      >
        Delivery
      </button>
      <button
        id="package"
        [class]="viewContentAlternate === 'package' ? 'button-tab active' : 'button-tab'"
        (click)="alternateButton($event)"
        [ngStyle]="
          viewContentAlternate === 'package'
            ? {
                'border-top': '1px solid ' + Luminosity(clientData.color, true).background,
                'border-left': '1px solid ' + Luminosity(clientData.color, true).background,
                'border-right': '1px solid ' + Luminosity(clientData.color, true).background
              }
            : {}
        "
      >
        {{ clientData.options.package.label2 === 'false' || !clientData.options.package.label2 ? translate.text().package : translate.text().scheduling }}
      </button>
    </div>

    <div
      class="grid basic-info-display"
      style="height: 3.5rem; margin-top: 1rem"
      [ngStyle]="{
        'background-color':
          viewContentAlternate === 'delivery'
            ? Luminosity(clientData.color).background
            : cookieP
            ? Luminosity(clientData.color).background
            : Luminosity(clientData.color, true).background
      }"
    >
      <div class="row info-display" id="">
        <div
          class="cell text-center"
          style="padding-top: 0.5rem"
          [ngStyle]="{
            'color':
              viewContentAlternate === 'delivery'
                ? Luminosity(clientData.color).color
                : cookieP
                ? Luminosity(clientData.color).color
                : Luminosity(clientData.color, true).color,
            'margin-top':
              ((clientData.options.delivery.disableDelivery && viewContentAlternate === 'delivery') ||
                (!parse(clientData.options.package.shippingDelivery.active) && viewContentAlternate === 'package')) &&
              !table
                ? '0.7rem'
                : '',
            'font-size':
              ((clientData.options.delivery.disableDelivery && viewContentAlternate === 'delivery') ||
                (!parse(clientData.options.package.shippingDelivery.active) && viewContentAlternate === 'package')) &&
              !table
                ? '1rem'
                : ''
          }"
        >
          <div *ngIf="!table">
            <div>
              <div
                *ngIf="
                  (!clientData.options.delivery.disableDelivery && viewContentAlternate === 'delivery') ||
                  (parse(clientData.options.package.shippingDelivery.active) && viewContentAlternate === 'package' && !table)
                "
              >
                <b class="text-capitalize"><span class="mif-money"></span> {{ translate.text().delivery_fee }}</b>
                <p *ngIf="!timeDelivery" style="cursor: pointer" (click)="openAddressCalc()">{{ translate.text().calculate }}</p>
                <p *ngIf="taxDeliveryValue !== null && taxDeliveryValue >= 0">
                  {{ taxDeliveryValue === 0 ? 'Grátis' : (taxDeliveryValue | currency) }}
                </p>
                <p *ngIf="taxDeliveryValue === null">{{ translate.text().to_consult }}</p>
              </div>
            </div>
            <div *ngIf="viewContentAlternate === 'package' && !parse(clientData.options.package.shippingDelivery.active) && !table">
              <b>{{ translate.text().pickup_only }}</b>
            </div>
            <!-- <div *ngSwitchCase="'package'">
                            <div *ngIf="parse(clientData.options.package.shippingDelivery.active) && !table">
                                <b><span class="mif-money"></span> Taxa de Entrega</b>
                                <p *ngIf="!timeDelivery && !clientData.options.delivery.disableDelivery"
                                    style="cursor: pointer;" (click)="openAddressCalc()">Calcular</p>
                                <p *ngIf="taxDeliveryValue >= 0">{{ taxDeliveryValue === 0 ? 'Grátis' : taxDeliveryValue
                                    |
                                    currency: 'BRL' }}</p>
                            </div>
                            
                        </div> -->
          </div>
          <b *ngIf="clientData.options.delivery.disableDelivery && !table && viewContentAlternate === 'delivery'">
            <p>
              {{
                !(this.clientData.deliveryLocal || !this.clientData.options.delivery.disableDelivery)
                  ? 'Fechado para delivery'
                  : 'Somente retirada no local'
              }}
            </p>
          </b>
          <div *ngIf="table">
            <b><span class="text- capitalize">{{ translate.text().table }}</span></b>
            <p>{{ table.name }}</p>
          </div>
        </div>

        <div
          class="cell text-center"
          style="padding-top: 0.5rem"
          style="backdrop-filter: brightness(90%); height: 3.5rem"
          [ngStyle]="{
            color:
              viewContentAlternate === 'delivery'
                ? Luminosity(clientData.color).color
                : cookieP
                ? Luminosity(clientData.color).color
                : Luminosity(clientData.color, true).color
          }"
        >
          <div *ngIf="!table && viewContentAlternate === 'delivery'">
            <b><span class="mif-alarm"></span> Tempo de Espera</b>
            <p *ngIf="!timeDelivery && !clientData.options.delivery.disableDelivery" style="cursor: pointer" (click)="openAddressCalc()">Calcular</p>
            <p *ngIf="clientData.options.delivery.disableDelivery">Consultar via whatsapp</p>
            <p *ngIf="!clientData.options.delivery.disableDelivery && timeDelivery">{{ timeFreightText() }}</p>
          </div>
          <div *ngIf="!table && viewContentAlternate === 'package'">
            <div>
              <b><span class="mif-calendar text-capitalize"></span>&nbsp;{{ translate.text().shipping }}</b>
              <div [ngSwitch]="datesAndHoursLength">
                <div [ngSwitch]="packageDate" *ngSwitchCase="true" (click)="datesAndHoursLength ? choiceDate() : false" style="cursor: pointer">
                  <p *ngSwitchCase="null">{{ translate.text().choose_date }}</p>
                  <p *ngSwitchDefault>
                    {{ returnMomentDate(packageDate, 'DD/MM/yyyy HH:mm') }}
                  </p>
                </div>
                <div *ngSwitchCase="false" class="text-upper">
                  <m4-icon icon="spinner" m4-animation="spin"></m4-icon>
                  {{ translate.text().loading_dates }}...
                </div>
              </div>
            </div>

            <!-- <p *ngIf="clientData.options.delivery.disableDelivery">Consultar via whatsapp</p> -->
            <!-- <p *ngIf="timeDelivery">{{ timeFreightText() }}</p> -->
          </div>
          <div *ngIf="table">
            <b><span>{{ translate.text().order_slip }}</span></b>
            <p>{{ commandSession && commandSession.name }}</p>
          </div>
        </div>

        <div
          class="cell text-center"
          style="padding-top: 0.5rem"
          *ngIf="!table"
          [ngStyle]="{
            color:
              viewContentAlternate === 'delivery'
                ? Luminosity(clientData.color).color
                : cookieP
                ? Luminosity(clientData.color).color
                : Luminosity(clientData.color, true).color
          }"
        >
          <b><span class="mif-phone"></span> Telefone</b>
          <p>{{ formatPhone(clientData.whatsapp) }}</p>
        </div>

        <div
          class="cell text-center"
          [ngStyle]="{
            'color': Luminosity(clientData.color).color,
            'height': '3.5rem',
            'font-size': '.8rem',
            'display': 'flex',
            'justify-content': 'center',
            'align-items': 'center'
          }"
          *ngIf="table"
          (click)="getTableRequests()"
        >
          <b>Minha Conta</b>
        </div>
      </div>
    </div>
  </section>
  <section id="menuSearch" style="padding-bottom: 8px; box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); background: #fafafd">
    <div class="container">
      <div class="grid">
        <div class="row">
          <div class="cell">
            <div class="scrollmenu" id="scrollmenu" style="background-color: #fafafd" [ngSwitch]="viewContentAlternate">
              <div *ngSwitchCase="'delivery'">
                <strong *ngFor="let category of clientCategories">
                  <a
                    id="category{{ category.id }}"
                    class="item"
                    (click)="clearSearchFilterMenu(category.id)"
                    [ngStyle]="
                      !table
                        ? category.disponibility.store.delivery === false && { visibility: 'hidden', padding: 0, width: 0 }
                        : category.disponibility.store.table === false && { visibility: 'hidden', padding: 0, width: 0 }
                    "
                  >
                    {{ category.name }}
                  </a>
                </strong>
              </div>
              <div *ngSwitchCase="'package'">
                <strong *ngFor="let category of clientCategories">
                  <a
                    id="category{{ category.id }}"
                    class="item"
                    (click)="clearSearchFilterMenu(category.id)"
                    [ngStyle]="
                      !table
                        ? category.disponibility.store.package === false && { visibility: 'hidden', padding: 0, width: 0 }
                        : category.disponibility.store.table === false && { visibility: 'hidden', padding: 0, width: 0 }
                    "
                  >
                    {{ category.name }}
                  </a>
                </strong>
              </div>
            </div>
          </div>
        </div>
        <div class="flex">
          <input
            type="search"
            data-role="input"
            data-search-button="true"
            data-clear-button="true"
            #filterinput
            placeholder="Buscar produtos por nome ou descrição"
            [(ngModel)]="filter"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- SCROLLING MENU -->

  <!-- FILTRO -->

  <section id="spotlight" class="pt-10 pb-10" *ngIf="filterProducts().length > 0 && filterinput.value">
    <div class="container">
      <div class="grid">
        <div class="row title">
          <div class="cell-12">
            <h4 *ngIf="filterinput.value">
              Itens encontrados: {{ filterProducts().length }} {{ filterProducts().length > 1 ? 'itens encontrados' : 'item encontrado' }}
            </h4>
            <!-- <div *ngIf="!filterinput.value" class="remark success">
                            <h4 [ngStyle]="{'font-size': '1.1rem', 'font-weight': '400', 'color': '#000'}">Produtos
                                disponiveis para encomenda: {{ allProductsPackage.length }} {{ allProductsPackage.length > 1
                                ? 'itens encontrados' : 'item encontrado' }}</h4>
                            <p [ngStyle]="{'font-size': '.8rem', 'color': '#828282', 'margin' : '0'}">Para ver todos os
                                produtos, remova todos os itens do seu carrinho.</p>
                        </div> -->
          </div>
        </div>
        <div class="row product">
          <div *ngFor="let item of filterProducts()" class="cell-sm-full cell-md-6 cell-lg-6">
            <a class="product-details" (click)="openModalProduct2(item)">
              <span class="details">
                <h5 style="overflow: hidden; text-overflow: ellipsis; -moz-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2">
                  {{ item.name }}
                </h5>
                <p style="overflow: hidden; text-overflow: ellipsis; -moz-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2">
                  {{ item.description }}
                </p>
                <p *ngIf="!table && (item.disponibility.store.delivery || item.disponibility.store.package) && item.promoteStatus">
                  <span class="price">{{ item.promoteValue | currency }}</span>
                  <span class="price-original">{{ item.value | currency }}</span>
                </p>
                <p *ngIf="!table && (item.disponibility.store.delivery || item.disponibility.store.package) && !item.promoteStatus">
                  <span class="price" *ngIf="item.value > 0">{{ item.value | currency }}</span>
                </p>

                <p *ngIf="table && item.disponibility.store.table && item.promoteStatusTable">
                  <span class="price">{{ item.promoteValueTable | currency }}</span>
                  <span class="price-original">{{ item.valueTable | currency }}</span>
                </p>
                <p *ngIf="table && item.disponibility.store.table && !item.promoteStatusTable">
                  <span class="price" *ngIf="item.valueTable > 0">{{ item.valueTable | currency }}</span>
                </p>
              </span>
              <img *ngIf="item.image" src="{{ item.image }}" alt="" />
            </a>
          </div>
        </div>
        <!-- <div class="row grid content"
                    *ngIf="!filterinput.value && filterProducts().length > 0 && getStorageSchedule()">

                    <div class="row grid" *ngFor="let category of filterProducts()">
                        <div class="row title cell-12">
                            <h4 class="title-category"><strong>{{category.name}}</strong></h4>
                        </div>
                        <div class="row product">
                            <div class="item_content" *ngFor="let item of category.products"
                                [ngClass]="table && verifyDisponibility(item, item).item !== 'delivery' && verifyDisponibility(item, item).item !== ''  && 'cell-sm-full cell-md-6 cell-lg-6' || !table && verifyDisponibility(item, item).item !== 'table' && verifyDisponibility(item, item).item !== '' && 'cell-sm-full cell-md-6 cell-lg-6' "
                                [ngStyle]="parse(parse(item.disponibility).store.package) === false ? {'display': 'none'} : '' ">
                                <a class="product-details"
                                    [ngStyle]="parse(parse(item.disponibility).store.package) === false ? {'visibility': 'hidden', 'padding': 0, 'width': 0, 'height': 0} : {'position': 'relative'}"
                                    (click)="openModalProduct2(item, category)"
                                    *ngIf="parse(parse(item.disponibility).store.package) === true">
                                    <span class="details">
                                        <h5
                                            style="overflow: hidden;text-overflow: ellipsis;-moz-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 2;">
                                            {{ item.name }}</h5>
                                        <p
                                            style="overflow: hidden;text-overflow: ellipsis;-moz-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 2;">
                                            {{ item.description }}</p>
                                        <p
                                            *ngIf="!table && verifyDisponibility(item, item).item !== 'table' && verifyDisponibility(item, item).item !== '' && item.promoteStatus">
                                            <span class="price">{{ item.promoteValue | currency }}</span> <span
                                                class="price-original">{{ item.value | currency }}</span>
                                        </p>
                                        <p
                                            *ngIf="!table && verifyDisponibility(item, item).item !== 'table' && verifyDisponibility(item, item).item !== '' && !item.promoteStatus">
                                            <span class="price" *ngIf="item.value > 0">{{ item.value | currency
                                                }}</span>
                                        </p>

                                        <p
                                            *ngIf="table && verifyDisponibility(item, item).item !== 'delivery' && verifyDisponibility(item, item).item !== '' && item.promoteStatusTable">
                                            <span class="price">{{ item.promoteValueTable | currency }}</span>
                                            <span class="price-original">{{ item.valueTable | currency }}</span>
                                        </p>
                                        <p
                                            *ngIf="table && verifyDisponibility(item, item).item !== 'delivery' && verifyDisponibility(item, item).item !== '' && !item.promoteStatusTable">
                                            <span class="price" *ngIf="item.valueTable > 0">{{ item.valueTable |
                                                currency:
                                                'BRL' }}</span>
                                        </p>
                                    </span>
                                    <img *ngIf="item.image" src="{{ item.image }}" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
      </div>
    </div>
  </section>
  <!-- DESTAQUES SPOTLIGHT SLIDER-->
  <!-- <section id="spotlight-slider" class="pt-10-lg pt-3-sm pb-10-lg pb-3-sm bg-1">
        <div class="container">
            <div class="grid">
                <div class="row">
                    <div class="cell">
                        <h3 class="title-category">DESTAQUES</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <div  class="swiper-container" [swiper]="swiperConfig">
                            <div class="swiper-wrapper">
                              <div *ngFor="let custom of clientData.custonProducts" class="swiper-slide" (click)="openModalCustomProduct(custom)">
                                <div class="card image-header">
                                    <div class="card-header fg-white" [ngStyle]="{'background-image': 'url(' + custom.image + ')'}"></div>
                                    <div class="card-content p-2 flex-self-stretch" style="height: 65px;">
                                        <h5 style="overflow: hidden;text-overflow: ellipsis;-moz-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 2;">{{ custom.name }}</h5>
                                        <p style="overflow: hidden;text-overflow: ellipsis;-moz-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 2;">{{ custom.description }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <p><span class="price">R$ 30,00</span> <span class="price-original">R$ 50,00</span></p>
                                    </div>
                                </div>
                              </div>
                            </div>
                           
                            <div class="swiper-pagination"></div>
                           
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
  <!-- SPOTLIGHT-->

  <section
    [ngStyle]="cart.length > 0 || cartPizza.length > 0 ? { 'margin-bottom.px': 30 } : {}"
    id="spotlight"
    class="pt-10-lg pt-3-sm pb-10-lg pb-3-sm"
  >
    <div class="container">
      <div *ngIf="filterProducts().length == 0 && filterinput.value" style="height: 500px; width: 100%; text-align: center">
        <h1 class="text-capitalize" style="font-size: 3rem; margin-top: 200px; line-height: 58px">{{ translate.text().no_products_found }</h1>
        <span (click)="clearSearchFilter()" style="cursor: pointer; color: #777">
          <p class="text-capitalize">{{ translate.text().see_full_list }}</p>
        </span>
      </div>
      <!-- CASE ABA DE DELIVERY  -->
      <div>
        <div>
          <div *ngIf="clientCategories && !clientCategories.length" [ngStyle]="{ 'display': 'flex', 'justify-content': 'center' }">
            <mat-spinner [color]="'warn'"></mat-spinner>
          </div>
          <div *ngIf="clientCategories === null" [ngStyle]="{ 'display': 'flex', 'justify-content': 'center' }">
            <h1 style="font-size: 3rem; margin-top: 50px; text-align: center; line-height: 1.2">{{ translate.text().no_products_found }}!</h1>
          </div>
          <div *ngFor="let category of clientCategories">
            <div class="grid" *ngIf="!filterinput.value && filterProducts().length === 0" [ngStyle]="{ padding: '5px' }">
              <div class="row title">
                <div class="cell-12" id="category-{{ viewContentAlternate }}-{{ category.id }}" data-type="category">
                  <h3 id="{{ category.id }}" class="title-category">
                    <strong>{{ category.name }}</strong>
                  </h3>
                </div>
              </div>
              <div class="row product"></div>

              <div class="row product">
                <!-- DUPLICA ESSA DIV -->
                <!-- 'cell-sm-6 cell-6-md cell-lg-6' -->
                <!-- {{[ngClass]="table ? verifyDisponibility(category, item).category !== 'delivery' && verifyDisponibility(category, item).item !== 'delivery' ? 'cell-sm-6 cell-6-md cell-lg-6' : '' : 
                                !table && getStorageSchedule() === false && verifyDisponibility(category, item).item === 'delivery' ? '' : verifyDisponibility(category, item).category !== 'table' && verifyDisponibility(category, item).item !== 'table' && verifyDisponibility(category, item).item !== 'hidden' ? 'cell-sm-6 cell-6-md cell-lg-6' : ''"}} -->
                <div
                  class="item_content cell-sm-full cell-md-6 cell-lg-6"
                  [ngStyle]="{ position: 'relative' }"
                  *ngFor="let item of category.products"
                >
                  <h4
                    class="text-capitalize"
                    *ngIf="!item.status"
                    [ngStyle]="{
                      'color': 'red',
                      'font-weight': 600,
                      'position': 'absolute',
                      'left': '50%',
                      'top': '50%',
                      'transform': 'translate(-50%, -50%)',
                      'text-transform': 'uppercase'
                    }"
                  >
                    {{ translate.text().product_unavilable}}
                  </h4>
                  <div [ngStyle]="{ opacity: !item.status && 0.2 }">
                    <a class="product-details" id="product-{{ viewContentAlternate }}-{{ item.id }}" (click)="openModalProduct2(item, category)">
                      <span class="details">
                        <h5
                          style="
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -moz-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            position: relative;
                          "
                        >
                          {{ item.name }}
                        </h5>
                        <p style="overflow: hidden; text-overflow: ellipsis; -moz-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2">
                          {{ item.description }}
                        </p>
                        <p *ngIf="!table && (item.disponibility.store.delivery || item.disponibility.store.package) && item.promoteStatus">
                          <span class="price">{{ item.promoteValue | currency }}</span>
                          <span class="price-original">{{ item.value | currency }}</span>
                        </p>
                        <p *ngIf="!table && (item.disponibility.store.delivery || item.disponibility.store.package) && !item.promoteStatus">
                          <span class="price" *ngIf="item.value > 0">{{ item.value | currency }}</span>
                        </p>
                        <p *ngIf="table && item.disponibility.store.table && item.promoteStatusTable">
                          <span class="price">{{ item.promoteValueTable | currency }}</span>
                          <span class="price-original">{{ item.valueTable | currency }}</span>
                        </p>
                        <p *ngIf="table && item.disponibility.store.table && !item.promoteStatusTable">
                          <span class="price" *ngIf="item.valueTable > 0">{{ item.valueTable | currency }}</span>
                        </p>
                      </span>
                      <div class="img-dish">
                        <img *ngIf="item.image && item.image !== ' '" src="{{ item.image }}" alt="" />
                      </div>
                    </a>
                  </div>
                </div>
              </div>

              <div *ngIf="category.type === 'pizza'">
                <!-- DUPLICA ESSA DIV -->
                <div *ngFor="let size of category.product.sizes" class="row product">
                  <div *ngFor="let item of size.flavors" class="cell-sm-full cell-md-6 cell-lg-6" [ngStyle]="{ position: 'relative' }">
                    <h4
                      class="text-capitalize"
                      *ngIf="!size.status"
                      [ngStyle]="{
                        'color': 'red',
                        'font-weight': 600,
                        'position': 'absolute',
                        'left': '50%',
                        'top': '50%',
                        'transform': 'translate(-50%, -50%)',
                        'text-transform': 'uppercase'
                      }"
                    >
                      {{ translate.text().size_unavilable }}
                    </h4>
                    <div [ngStyle]="{ opacity: !size.status && 0.2 }">
                      <a class="product-details" (click)="openModalPizza(category.product, size.name, size.covers[item - 1], item, category, size)">
                        <span class="details">
                          <h5
                            style="overflow: hidden; text-overflow: ellipsis; -moz-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2"
                          >
                            {{ size.name }}
                          </h5>
                          <p
                            style="overflow: hidden; text-overflow: ellipsis; -moz-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2"
                          >
                            {{ item }} {{ item === 1 ? translate.text().flavor_comment : translate.text().flavors_comment }}
                          </p>
                          <!-- <p><span class="price" *ngIf="item.value > 0" >{{ item.value | currency }}</span></p> -->
                        </span>
                        <div class="img-dish">
                          <img style="border-radius: 5px" src="{{ size.covers[item - 1] }}" alt="" />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- CASE ABA DE ENCOMENDAS -->
        <!--                     
                <div *ngSwitchCase="'package'">
                    <div *ngFor="let category of clientCategories">
                        <div class="grid"
                            *ngIf="!table && filterProducts().length <= 0 && category.disponibility.store.package === true && !filterinput.value">
                            <div class="row title">
                                <div *ngIf="category.products" class="cell-12">
                                    <h3 id="{{category.id}}" class="title-category"><strong>{{ category.name }}</strong>
                                    </h3>
                                </div>
                            </div>
                            <div class="row product"></div>


                            <div class="row product">
                                DUPLICA ESSA DIV
                                <div class="item_content" *ngFor="let item of category.products">
                                    <a class="product-details" (click)="openModalProduct2(item, category)">

                                        <span class="details">
                                            <h5
                                                style="overflow: hidden;text-overflow: ellipsis;-moz-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 2; position: relative">
                                                {{ item.name }}
                                            </h5>
                                            <p
                                                style="overflow: hidden;text-overflow: ellipsis;-moz-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 2;">
                                                {{ item.description }}</p>
                                            <p>
                                                <span class="price">{{ item.promoteValue | currency }}</span>
                                                <span class="price-original">{{ item.value | currency }}</span>
                                            </p>
                                            <p>
                                                <span class="price" *ngIf="item.value > 0">{{ item.value | currency:
                                                    'BRL'
                                                    }}</span>
                                            </p>
                                            <-- <p
                                                *ngIf="table && verifyDisponibility(category, item).category !== 'delivery' && verifyDisponibility(category, item).category !== '' && item.promoteStatusTable">
                                                <span class="price">{{ item.promoteValueTable | currency
                                                    }}</span>
                                                <span class="price-original">{{ item.valueTable | currency
                                                    }}</span>
                                            </p>
                                            <p
                                                *ngIf="table && verifyDisponibility(category, item).category !== 'delivery' && verifyDisponibility(category, item).category !== '' && !item.promoteStatusTable">
                                                <span class="price" *ngIf="item.valueTable > 0">{{ item.valueTable |
                                                    currency:
                                                    'BRL' }}</span>
                                            </p> -->
        <!-- 
                                        </span>
                                        <div class="img-dish">
                                            <img *ngIf="item.image && item.image !== ' '" src="{{ item.image }}"
                                                alt="" />
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 -->
      </div>
    </div>
  </section>
  <footer class="bg-grayBlue fg-white">
    <div class="grid">
      <div class="row" style="margin-right: 0">
        <div class="cell-12 text-center">
          <h3>{{ clientData.name }}</h3>
          <p>Contato: {{ formatPhone(clientData.whatsapp) }}</p>
          <p *ngIf="clientData.deliveryLocal">
            Endereço: {{ clientData.address.street }}, {{ clientData.address.number }} - {{ clientData.address.neigborhood }} /
            {{ clientData.address.city }}
          </p>
          <p>
            Tecnologia
            <br />
            <a class="fg-white" href="https://whatsmenu.com.br" target="_blank"><strong>www.whatsmenu.com.br</strong></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <div *ngIf="cart.length > 0 || cartPizza.length > 0" style="height: 50px"></div>

  <!-- CART BAR-->
  <section
    id="cart-bar"
    class="pt-2 pb-2"
    *ngIf="cart.length > 0 || cartPizza.length > 0"
    [ngStyle]="{
      color:
        viewContentAlternate === 'delivery'
          ? Luminosity(clientData.color).color
          : cookieP
          ? Luminosity(clientData.color).color
          : Luminosity(clientData.color, true).color,
      background:
        viewContentAlternate === 'delivery'
          ? Luminosity(clientData.color).background
          : cookieP
          ? Luminosity(clientData.color).background
          : Luminosity(clientData.color, true).background
    }"
  >
    <div class="container" (click)="openCart()">
      <div class="grid">
        <div class="row">
          <div class="cell-4 cell-sm-4 cell-md-4 cell-lg-4">
            <div class="ml-auto">
              <p *ngIf="totalCart().quantity === 1" style="margin-bottom: 2px" class="va-bottom text-bold">
                <m4-icon icon="shopping-basket" size="2"></m4-icon> 1 item
              </p>
              <p *ngIf="totalCart().quantity > 1" style="margin-bottom: 2px" class="va-bottom text-bold">
                <m4-icon icon="shopping-basket" size="2"></m4-icon> {{ totalCart().quantity }} itens
              </p>
            </div>
          </div>
          <div class="cell-4 cell-sm-4 cell-md-4 cell-lg-4 d-flex flex-self-center text-center">
            <strong class="text-capitalize" style="margin: 0 auto">{{ translate.text().close_order }}</strong>
          </div>
          <div class="cell-4 cell-sm-4 cell-md-4 cell-lg-4 d-flex flex-self-center">
            <div class="ml-auto text-bold">{{ requestTotalValue() | currency }}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- MODAIS -->

  <!-- AÇÃO BOTÃO EDITAR PEDIDO/ -->
  <m4-dialog #dialog3>
    <div dialog-title></div>
    <div dialog-content>
      <div class="dialog-box text-center">
        <a class="text-capitalize" href="#0">{{ translate.text().edit_item }}</a>
        <hr />
        <a class="text-capitalize" href="#0">{{ translate.text().edit_notes }}</a>
        <hr />
        <a class="text-capitalize" href="#0">{{ translate.text().remove_item }}</a>
      </div>
    </div>
  </m4-dialog>
</div>
