<div class="fees-container text-center">
  <header>
    <div>Taxa</div>
    <div>Qtd.</div>
    <div>Valor</div>
    <div>Cobrar</div>
  </header>
  <ng-container *ngFor="let fee of fees">
    <div style="border-top: 1px solid var(--wm-gray-300);" *ngIf="fee.status">
      <details *ngIf="tableType === 'table' && fee.type === 'fixed'" class="fee-body">
        <summary>
          <ng-container *ngTemplateOutlet="feeTable; context: { fee: fee }"></ng-container>
        </summary>
        <div class="pb-2" *ngFor="let command of context.getActiveTable().opened?.commands">
          <div *ngIf="command.haveCarts() && fee.type === 'fixed'" class="command-row">
            <div>{{ command.name }}</div>
            <div *ngIf="fee.type === 'percent'">-</div>
            <div *ngIf="fee.type === 'fixed'" class="px-3">
              <input type="number" class="form-control w-75 mx-auto" [disabled]="!getCommandFee(command, fee).automatic" [ngModel]="getCommandFee(command, fee).quantity" (ngModelChange)="setCommandFeeQuantity($event, getCommandFee(command, fee), fee)" min="0">
            </div>
            <div>{{ getCommandFee(command, fee).type === 'percent' ? getCommandFee(command, fee).value + '%' : context.currency(getCommandFee(command, fee).value * getCommandFee(command, fee).quantity) }}</div>
            <div class="d-flex justify-content-center">
              <input type="checkbox" class="form-check-input" [ngClass]="'fee-' + fee.id" [(ngModel)]="getCommandFee(command, fee).automatic" (ngModelChange)="setCommandFeeAutomatic($event, getCommandFee(command, fee), fee)">
            </div>
          </div>
        </div>
      </details>
      <header *ngIf="tableType === 'command' || fee.type === 'percent'" class="py-2 position-relative">
        <ng-container *ngTemplateOutlet="feeTable; context: { fee: fee }"></ng-container>
      </header>
    </div>
  </ng-container>
</div>

<ng-template #feeTable let-fee="fee">
  <div>
    <fa-icon *ngIf="tableType === 'table' && fee.type === 'fixed'" class="toggle-fee" [icon]="faChevronDown"></fa-icon>
    <span>{{ fee.code }}</span>
  </div>
  <div *ngIf="fee.type === 'percent'">-</div>
  <ng-container *ngIf="tableType === 'table'">
    <div *ngIf="fee.type === 'fixed'">{{ fee.quantity }}</div>
  </ng-container>
  <ng-container *ngIf="tableType === 'command'">
    <div *ngIf="fee.type === 'fixed'" class="px-3">
      <input type="number" class="form-control w-75 mx-auto" [(ngModel)]="fee.quantity" min="0">
    </div>
  </ng-container>
  <div>{{ fee.type === 'percent' ? fee.value + '%' : context.currency(fee.value * fee.quantity) }}</div>
  <div *ngIf="fee.type === 'fixed'" class="d-flex justify-content-center">
    <input type="checkbox" class="form-check-input" [(ngModel)]="fee.automatic" [checked]="fee.quantity > 0" (click)="toggleAllFixedCommandFees($event.target.checked , fee)">
  </div>
  <div *ngIf="fee.type === 'percent'" class="d-flex justify-content-center">
    <input type="checkbox" class="form-check-input" [(ngModel)]="fee.automatic" (click)="toggleAllPercentCommandFees($event.target.checked , fee)">
  </div>
</ng-template>