<label class="d-flex justify-content-between align-items-center w-100">
  <div class="flex-grow d-flex align-items-center gap-3 px-1">
    <i class="bi bi-cash-coin text-success fs-2"></i>
    <div>
      <p class="m-0 fw-bold text-capitalize">{{ translate.text().use_cashback }}</p>
      <p class="m-0 text-capitalize">
        {{ translate.text().balance }}: <span class="text-success">{{ value | currency }}</span>
      </p>
    </div>
  </div>
  <div class="d-flex align-items-center gap-2 justify-content-end">
    <input #cashbackCheckbox class="form-check-input" type="checkbox" id="cashbackInput" (change)="toggleCashback($event.target.checked)" />
  </div>
</label>
