<div tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div>
    <div>
      <div mat-diolog-title class="p-3 pb-2 border border-bottom-1 d-flex justify-content-between">
        <h5 class="fw-medium">Mais informações</h5>
        <button (click)="close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <mat-dialog-content>
        <div class="p-3" style="letter-spacing: 1px">
          <p innerHTML="{{ data.clientData.description }}"></p>

          <!-- <h5 class="fs-5 fw-600">Formas de Pagamento</h5>
          <ng-container *ngFor="let payment of data.clientData.formsPayment; let index = index">
            <small *ngIf="payment.status"> {{ payment.label }}{{ isLastIndex(index) ? '.' : ',' }} </small>
          </ng-container> -->
        </div>
      </mat-dialog-content>
    </div>
  </div>
</div>
